<div class="l-page__main novostroyky js-novostroyky" data-entity="novostroyky">
    <div class="novostroyky-wrap">
        <div class="novostroyky-content">
            <div class="novostroyky__title">
                Найдите новостройку
            </div>
            <div class="novostroyky__text">
                Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts
            </div>
            <div class="novostroyky-control">
                <label class="novostroyky-control-select">
                    <select name="nov">
                        <option value="0" selected="" disabled="">Найдите нужную новостройку</option>
                        <option value="1">Новостройка № 1</option>
                        <option value="2">Lorem ipsum is placeholder </option>
                        <option value="3">Lorem ipsum</option>
                        <option value="4">Lorem ipsum</option>
                        <option value="5">Lorem ipsum</option>
                    </select>
                    <span class="arrow"></span>
                </label>
                <button name="s" type="submit" class="novostroyky-control-button js-novostroyky-popup-open">
                    <svg class="icon-svg">
                        <use xlink:href="#svg-search"></use>
                    </svg>
                </button>

            </div>
            <div class="novostroyky-help">
                <div class="novostroyky-help__icon">
                    <svg class="icon-help">
                        <use xlink:href="#svg-help"></use>
                    </svg>
                
                </div>
                <a href="#fancy1" class="novostroyky-help__link" data-fancybox>
                    Не нашел свою новостройку?
                </a>
            
            </div>
        </div>
        <div class="novostroyky-popup step-1 js-novostroyky-step-1">
            <div class="novostroyky-popup-content">
                <div class="novostroyky-popup__title">
                    Узнайте вашу скидку
                </div>
                <form class="novostroyky-popup-form">
                    <div class="novostroyky-popup-form__img">
                        
                    </div>
                    <div class="novostroyky-popup-form-content">
                        <div class="mb-4">
                            <div class="novostroyky-popup-form-input">
                                <label for="novostroyky-popup-name" class="form-label">Имя <span class="mod-red">*</span></label>
                                <input type="text" class="form-control" id="novostroyky-popup-name" placeholder="Как к вам обращаться?">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="novostroyky-popup-form-input">
                                <label for="novostroyky-popup-email" class="form-label">E-mail <span class="mod-red">*</span></label>
                                <input type="email" class="form-control" id="novostroyky-popup-email" placeholder="mail@mail.ru">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="checkbox bmd-custom-checkbox">
                                <label class="mb-0">
                                    <input type="checkbox" value="Y"  name="CONSENT" id="CONSTENT_1_CONSENT"> 
                                    Соглашаюсь на 
                                    <a href="/company/license_work/" target="__blank" onclick="event.stopPropagation();">обработку персональных данных</a>
                                    <div class="invalid-feedback">согласитесь с условиями</div>
                                </label>
                            </div>
                        </div>
                        <div class="mb-0">
                            <div class="novostroyky-popup-form-btn  js-novostroyky-popup-open-2">
                                <input type="submit" class="btn btn-primary" name="submit" value="Узнать скидку">
                            </div>
                        </div>

                    </div>
                    
                </form>
                <a href="/" class="novostroyky-popup-back js-novostroyky-popup-close">
                    <div class="novostroyky-popup-back__icon">
                        <svg class="icon-svg">
                            <use xlink:href="#svg-arrow-up"></use>
                        </svg>
                    </div>
                    <div class="novostroyky-popup-back__link">
                        Вернуться назад
                    </div>
                </a>
                
            </div>

        </div>
        <div class="novostroyky-popup step-2 js-novostroyky-step-2">
            <div class="novostroyky-popup-content">
                <div class="novostroyky-popup-form__img">
                        
                </div>
                <div class="novostroyky-popup-sale">
                    25%
                </div>
                <div class="novostroyky-popup__text">
                    Ваша персональная скидка на все изделия </br> нашей фабрики
                </div>
                
            </div>

        </div>
    </div>
</div>