

/* Start:/bitrix/templates/megamart_default/components/bitrix/main.userconsent.request/.default/user_consent.css?16155689092899*/
.main-user-consent-request a {
  cursor: pointer; }

.main-user-consent-request-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 99992; }

.main-user-consent-request-popup-cont {
  min-height: 21.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  min-width: 320px;
  background: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto; }

.main-user-consent-request-popup-header {
  font-size: 1.5rem;
  background-color: #fff;
  min-height: 5.63rem;
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding: 2.38rem 3rem 3rem;
  text-align: left; }

.main-user-consent-request-popup-body {
  padding: 0.63rem 3rem 2rem; }

.main-user-consent-request-textarea-block {
  margin: 0 0 1rem 0; }

.main-user-consent-request-popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem; }

.main-user-consent-request-popup-text {
  min-height: 15rem; }

/** LOADER **/
.main-user-consent-request-loader {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
      transform: translate(0, 50%); }

.main-user-consent-request-path {
  stroke: #80868e;
  stroke-dasharray: 100, 200; }

.main-user-consent-request-loader:before {
  content: '';
  display: block;
  padding-top: 100%; }

.main-user-consent-request-circular {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: inherit;
  width: inherit;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
      transform-origin: center center; }

.main-user-consent-request-path {
  stroke: #ccc;
  stroke-dasharray: 60, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* End */
/* /bitrix/templates/megamart_default/components/bitrix/main.userconsent.request/.default/user_consent.css?16155689092899 */
