<div class="fancybox-container popup-form popup-form-2021 fancybox-is-open" role="dialog" tabindex="-1" id="fancybox-container-2" style="transition-duration: 300ms;">
	<div class="fancybox-bg"></div>
	<div class="fancybox-inner">
		<div class="fancybox-stage">
			<div class="fancybox-slide fancybox-slide--html fancybox-slide--current fancybox-slide--complete" style="">
				<div class="popup-form-2021-wrapper">
					<div class="fancybox-title fancybox-title-inside-wrap justify-content-center text-center">Записаться на замер</div>
					<button data-fancybox-close="" class="fancybox-close-small mod-full">
						<svg class="icon-svg text-secondary">
							<use xlink:href="#svg-close"></use>
						</svg>
					</button>
					<div id="comp_2a98047c9e5ccf4af36501f0f27be1d6" class="fancybox-content" style="">
						<div class="rsform">

							<form action="/forms/recall/?fancybox=true&amp;cache=true" method="POST" id="form_u9gz8z" novalidate=""><input type="hidden" name="captcha_sid" value="018c3f59673b6429f03d524182b32386"><input class="bmd-form-control" type="hidden" name="captcha_word" id="_captcha_word" size="30" maxlength="50" value="" autocomplete="off"><input type="hidden" name="g-recaptcha-response" value="03AGdBq24-u78lRE3APh7erJ3DZLxU8FXP2RLbwXT9FO2BFJ--1gHXTKXc741rGBLkvlsUOxftavmIo65Ip7Bj8nle9B_e3v_EY8Ln8QHcQOvrryasfCrbAfU-K55wVT-1gB_znciEdKDsl96dRzHstzOSGgVyNIVqaJT0p-iuzygDUaL-7q0AtbfLcSa8Bpfcu3-U3rDEgqEUpCKug2-vaFMEN1_eyMqeDH2aa5CB8ngg8m4kSNMm6KJgZjCzEwwV1rwuCboymG-cWqF814yFtjopCOzXnnE9ch37Jvt_vwCSS75JxdK6h_rOXE8keXhM-NROJ5g8LN5BMmaMQBlMFNTgZloZ_iCF-61SQGJ36EsIetOrF_mrpfXvXFTh-Yv_0etIZh42mOhqUHwNMm38C8WZbgmKEEDjoNhk1IdTCQ5KjBTBo29kJJY"><input type="hidden" name="g-recaptcha-response" value="03AGdBq26rtpPtCj9XRFMrHKlcCLXdgEZrffr2Lcwvmw-lFz-ElfgWr_CP6nKUXpBqvJvoIL2iUF03_cCzOQ2BWI2x9uArGEzcaRCpGdwKF6Wlyl3ppJ7dkFCR7boqgc-Mn2NKu4jCuwV6r-oC144uHPzhzPhU0O3D6Y9KgOnT033eP2n5VkpPBG1TJVeB35Zzu9MTZGg4Md9kDcaqheVOkiX90PXd2hxJ_8YnqJvy2X1qvc23PQwUbUWF41zvkcldrxsXtB3QMquagweHIFtAxfZMCdDR2DtTjHgx94D1P1nAmkH3fBPi-h5Ag2uGOAnWSdZgH47fdbvPUNY0r6r3FmY3ScmX63vfh_r7n7rM_Zcn2P7KjNqSfyGhMwJmn0S9FwdN06Ga9fIWmrp9l5L13Rxi2vLyv3tGL7-uLDSxGOh_ar_XpiAPwmw">
								<div class="mb-4">
									<div class="popup-form-2021-input">
										<label for="popup-name" class="form-label">Имя <span class="mod-red">*</span></label>
										<input type="text" class="form-control" id="popup-name" placeholder="Как к вам обращаться?">
									</div>
								</div>
								<div class="mb-4">
									<div class="popup-form-2021-input">
										<label for="popup-email" class="form-label">E-mail <span class="mod-red">*</span></label>
										<input type="email" class="form-control" id="popup-email" placeholder="mail@mail.ru">
									</div>
								</div>
								<div class="mb-4 row">
									<div class="col">
										<div class="popup-form-2021-input">
											<label for="popup-email" class="form-label">E-mail <span class="mod-red">*</span></label>
											<input type="email" class="form-control" id="popup-email" placeholder="mail@mail.ru">
										</div>
									</div>

									<div class="col">
										<div class="popup-form-2021-input">
											<label for="popup-email" class="form-label">E-mail <span class="mod-red">*</span></label>
											<input type="email" class="form-control" id="popup-email" placeholder="mail@mail.ru">
										</div>
									
									</div>
								</div>
								<div class="mb-4 row align-items-end">
									<div class="col">
										<div class="popup-form-2021-input">
											<label for="popup-email" class="form-label">E-mail <span class="mod-red">*</span></label>
											<input type="email" class="form-control" id="popup-email" placeholder="mail@mail.ru">
										</div>
									</div>

									<div class="col">
										<div class="popup-form-2021-t-block">
											<div class="popup-form-2021__icon">
												<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M35.8315 21.2335H32.5138V19.9064H34.5044C34.6139 19.9064 34.7217 19.8793 34.8182 19.8275C34.9147 19.7757 34.9969 19.7009 35.0574 19.6096C35.9514 18.2631 36.6451 16.794 37.1169 15.2481C37.3868 14.3518 37.58 13.4342 37.6944 12.5051C38.1777 12.0299 38.4604 11.3874 38.4841 10.71C38.5079 10.0326 38.271 9.37185 37.8222 8.8639V8.62611C37.8222 6.33832 36.9133 4.14424 35.2956 2.52653C33.6779 0.908819 31.4838 0 29.1961 0C26.9083 0 24.7142 0.908819 23.0965 2.52653C21.4788 4.14424 20.5699 6.33832 20.5699 8.62611V14.598C20.5699 14.774 20.6399 14.9428 20.7643 15.0672C20.8887 15.1917 21.0575 15.2616 21.2335 15.2616C21.2542 15.2616 21.275 15.2606 21.2961 15.2586C21.5035 15.2389 21.7112 15.2126 21.9191 15.1795C22.2039 16.1368 22.5759 17.0659 23.0305 17.9552C22.5415 17.5028 21.8997 17.2517 21.2335 17.2522H2.65419C1.9505 17.253 1.27585 17.5329 0.778266 18.0305C0.280681 18.5281 0.00079032 19.2027 0 19.9064V31.8502C0.00079032 32.5539 0.280681 33.2286 0.778266 33.7262C1.27585 34.2237 1.9505 34.5036 2.65419 34.5044H7.11272L5.99174 38.9883C5.96729 39.0862 5.96546 39.1883 5.98637 39.2869C6.00729 39.3856 6.05042 39.4781 6.11247 39.5576C6.17453 39.6371 6.25388 39.7014 6.3445 39.7456C6.43512 39.7898 6.53463 39.8128 6.63547 39.8128H17.2522C17.4282 39.8128 17.597 39.7429 17.7214 39.6185C17.8458 39.494 17.9158 39.3252 17.9158 39.1493V36.4951C17.9158 36.3191 17.8458 36.1503 17.7214 36.0259C17.597 35.9014 17.4282 35.8315 17.2522 35.8315H17.0769L17.3489 34.5044H20.7757L19.2698 39.6256L20.543 40L21.9539 35.2016C22.1106 35.5071 22.2948 35.7975 22.5043 36.0694L22.5606 39.8228L23.8877 39.8028L23.828 35.8216C23.8256 35.6691 23.7709 35.5221 23.673 35.4052C23.3104 34.9757 23.0365 34.4787 22.8669 33.9428C23.1859 33.6954 23.4438 33.3781 23.6208 33.0153C23.7978 32.6525 23.8891 32.2539 23.8877 31.8502V22.5606H24.7143L25.1739 24.1692C25.4224 25.0444 25.9495 25.8147 26.6754 26.3631C27.4013 26.9116 28.2862 27.2084 29.196 27.2084C30.1058 27.2084 30.9908 26.9116 31.7166 26.3631C32.4425 25.8147 32.9697 25.0444 33.2181 24.1692L33.6778 22.5601H34.5044V29.1956C34.5044 29.3519 34.5596 29.5032 34.6603 29.6228C35.1949 30.2547 35.5433 31.0228 35.6663 31.8414C35.7893 32.6599 35.6822 33.4965 35.357 34.2577L33.2989 34.4863L31.6379 33.6558L32.8582 31.773C33.0025 31.5535 33.1007 31.307 33.1469 31.0485C33.1931 30.7899 33.1863 30.5247 33.127 30.2688C33.0663 30.0076 32.9533 29.7614 32.7946 29.5452C32.636 29.3289 32.4351 29.1471 32.2042 29.0108C31.7458 28.7387 31.2006 28.6526 30.6807 28.7703C30.1608 28.888 29.7059 29.2005 29.4095 29.6435L24.6586 36.9559C24.6095 37.0313 24.5763 37.116 24.561 37.2046C24.5457 37.2933 24.5486 37.3841 24.5696 37.4716L25.0075 39.303C25.0478 39.4725 25.1532 39.6193 25.3009 39.7116C25.4486 39.804 25.6268 39.8345 25.7968 39.7965L26.7135 39.5928C26.7754 39.662 26.8513 39.7173 26.936 39.7552C27.0208 39.7931 27.1126 39.8127 27.2054 39.8128H36.4951C37.3747 39.8118 38.218 39.4619 38.84 38.84C39.4619 38.218 39.8118 37.3747 39.8128 36.4951V25.2148C39.8116 24.1592 39.3917 23.1473 38.6454 22.4009C37.899 21.6545 36.887 21.2347 35.8315 21.2335ZM25.8783 18.5793H24.9116C24.435 17.8272 24.0254 17.0347 23.6875 16.2109C24.2466 17.0738 24.9961 17.7971 25.8783 18.3253V18.5793ZM26.8439 17.3449C25.6817 16.7382 24.7764 15.7338 24.2934 14.5151C25.7581 13.9138 27.0728 12.9978 28.1442 11.8319C29.2155 10.666 30.0174 9.27883 30.493 7.76856L31.2271 5.41595C31.9053 6.93843 33.054 8.20318 34.5044 9.02423V12.6074C34.5039 13.3342 34.3543 14.0532 34.0647 14.7199C33.7752 15.3866 33.3519 15.9868 32.821 16.4832C32.2901 16.9797 31.663 17.362 30.9785 17.6064C30.294 17.8507 29.5666 17.952 28.8413 17.9039C28.1441 17.8573 27.464 17.667 26.8439 17.3449ZM37.1586 10.6167C37.1582 10.9686 37.0182 11.3059 36.7695 11.5547C36.5207 11.8035 36.1834 11.9434 35.8315 11.9438V9.28965C36.1834 9.29007 36.5207 9.43002 36.7695 9.67881C37.0182 9.9276 37.1582 10.2649 37.1586 10.6167ZM35.847 14.8624C35.4474 16.1718 34.8745 17.4218 34.1435 18.5793H32.5138V18.3518C33.4275 17.829 34.2026 17.0949 34.774 16.2109C35.3455 15.3268 35.6968 14.3187 35.7983 13.2709H35.8315C35.968 13.2709 36.1044 13.2605 36.2393 13.2396C36.1388 13.7874 36.0079 14.3292 35.847 14.8624ZM21.897 8.62611C21.8945 6.73956 22.6225 4.92531 23.9285 3.56392C25.2345 2.20252 27.017 1.39977 28.902 1.32405C30.7871 1.24833 32.6282 1.90552 34.0392 3.15777C35.4502 4.41001 36.3214 6.16002 36.4702 8.04069C36.2613 7.98883 36.0468 7.9626 35.8315 7.96256H35.3326C33.8518 7.18538 32.731 5.86293 32.2073 4.27465L31.8158 3.10681C31.7712 2.97382 31.6857 2.85838 31.5714 2.77706C31.4571 2.69574 31.32 2.65274 31.1797 2.65421C31.0395 2.65568 30.9033 2.70157 30.7907 2.78527C30.6782 2.86897 30.595 2.98618 30.5533 3.12008L29.2262 7.37308C28.7121 9.01764 27.7571 10.4898 26.4649 11.6296C25.1728 12.7694 23.5929 13.5332 21.897 13.8379V8.62611ZM7.4853 38.4857L9.80772 29.1961H13.8464L12.6852 38.4857H7.4853ZM16.5887 38.4857H14.0226L14.1885 37.1586H16.5887V38.4857ZM15.7222 35.8315H14.3543L14.5202 34.5044H15.9943L15.7222 35.8315ZM22.5606 31.8502C22.5607 32.1008 22.4899 32.3464 22.3563 32.5584C22.2228 32.7704 22.0319 32.9403 21.8058 33.0484C21.7183 33.0899 21.6261 33.1209 21.5313 33.1408C21.4337 33.1642 21.3338 33.1764 21.2335 33.1773H14.6861L15.2564 28.6148C15.2681 28.5214 15.2598 28.4267 15.232 28.3368C15.2043 28.2469 15.1577 28.1639 15.0955 28.0934C15.0332 28.0228 14.9566 27.9663 14.8709 27.9277C14.7851 27.889 14.6921 27.869 14.598 27.869H9.28965C9.14167 27.869 8.99794 27.9184 8.8813 28.0095C8.76466 28.1006 8.68182 28.228 8.64593 28.3716L7.4445 33.1773H2.65419C2.30235 33.1769 1.96504 33.037 1.71625 32.7882C1.46746 32.5394 1.32751 32.2021 1.32709 31.8502V19.9064C1.32751 19.5546 1.46746 19.2173 1.71625 18.9685C1.96504 18.7197 2.30235 18.5797 2.65419 18.5793H21.2335C21.5853 18.5797 21.9226 18.7197 22.1714 18.9685C22.4202 19.2173 22.5602 19.5546 22.5606 19.9064V31.8502ZM23.8877 21.2335V19.9064C23.8876 19.7186 23.8676 19.5314 23.828 19.3479C23.8842 19.4358 23.9408 19.5234 23.9987 19.6104C24.0593 19.7014 24.1414 19.7761 24.2378 19.8277C24.3342 19.8794 24.4419 19.9064 24.5512 19.9064H25.8783V21.2335H23.8877ZM31.9415 23.8079C31.7731 24.4042 31.4143 24.9292 30.9197 25.3025C30.5491 25.5819 30.1161 25.7668 29.658 25.8414C29.1999 25.9159 28.7306 25.8778 28.2906 25.7303C27.8505 25.5829 27.453 25.3305 27.1323 24.995C26.8117 24.6595 26.5775 24.251 26.45 23.8047L26.0892 22.542C26.4003 22.4917 26.6833 22.3326 26.8878 22.0928C27.0922 21.8531 27.2048 21.5486 27.2054 21.2335V18.9287C27.7071 19.0927 28.2274 19.1933 28.754 19.2281C28.9026 19.2379 29.0509 19.2429 29.199 19.2429C29.8732 19.2432 30.5435 19.1404 31.1867 18.9382V21.2335C31.1872 21.5486 31.2998 21.8532 31.5043 22.0929C31.7087 22.3327 31.9918 22.4919 32.3029 22.5422L31.9415 23.8079ZM35.8315 28.9621V22.5606C36.5352 22.5614 37.2099 22.8413 37.7074 23.3389C38.205 23.8364 38.4849 24.5111 38.4857 25.2148V33.9105L36.8195 34.0957C37.0696 33.2225 37.1106 32.3027 36.9389 31.4108C36.7673 30.5189 36.3879 29.68 35.8315 28.9621ZM30.5223 30.3668C30.6295 30.2098 30.7927 30.0998 30.9785 30.0593C31.1642 30.0189 31.3584 30.0511 31.5212 30.1493C31.5989 30.1943 31.6666 30.2545 31.7203 30.3264C31.774 30.3983 31.8125 30.4803 31.8336 30.5675C31.8523 30.65 31.8541 30.7354 31.8388 30.8186C31.8235 30.9017 31.7914 30.9809 31.7446 31.0513L30.3531 33.1982L28.4332 33.5822L30.5223 30.3668ZM25.9263 37.4406L26.5419 36.4932V38.2719L26.1461 38.3598L25.9263 37.4406ZM36.4951 38.4857H27.869V35.0485L30.43 34.5362L32.8806 35.7614C32.9949 35.8187 33.1234 35.8418 33.2506 35.8278L38.4857 35.2458V36.4951C38.4851 37.0228 38.2752 37.5288 37.902 37.902C37.5288 38.2752 37.0228 38.4851 36.4951 38.4857Z" fill="#4D4D4D"/>
													<path d="M31.1864 13.271H29.8593C29.8593 13.447 29.7894 13.6158 29.6649 13.7402C29.5405 13.8646 29.3717 13.9345 29.1957 13.9345C29.0197 13.9345 28.851 13.8646 28.7265 13.7402C28.6021 13.6158 28.5322 13.447 28.5322 13.271H27.2051C27.2051 13.7989 27.4148 14.3053 27.7881 14.6786C28.1614 15.0519 28.6678 15.2616 29.1957 15.2616C29.7237 15.2616 30.23 15.0519 30.6033 14.6786C30.9766 14.3053 31.1864 13.7989 31.1864 13.271Z" fill="#4D4D4D"/>
													<path d="M32.1818 11.2802C32.3787 11.2802 32.5711 11.2218 32.7348 11.1124C32.8985 11.0031 33.0261 10.8476 33.1014 10.6658C33.1767 10.4839 33.1964 10.2838 33.158 10.0907C33.1196 9.89762 33.0248 9.72027 32.8856 9.58107C32.7464 9.44188 32.5691 9.34708 32.376 9.30868C32.1829 9.27027 31.9828 9.28998 31.801 9.36532C31.6191 9.44065 31.4636 9.56822 31.3543 9.7319C31.2449 9.89558 31.1865 10.088 31.1865 10.2849C31.1868 10.5488 31.2918 10.8018 31.4784 10.9884C31.665 11.1749 31.918 11.2799 32.1818 11.2802Z" fill="#4D4D4D"/>
													<path d="M5.30848 19.9062H2.6543V21.2333H5.30848V19.9062Z" fill="#4D4D4D"/>
													<path d="M9.28993 19.9062H6.63574V21.2333H9.28993V19.9062Z" fill="#4D4D4D"/>
													<path d="M13.2704 19.9062H10.6162V21.2333H13.2704V19.9062Z" fill="#4D4D4D"/>
													<path d="M17.2518 19.9062H14.5977V21.2333H17.2518V19.9062Z" fill="#4D4D4D"/>
													<path d="M21.2333 19.9062H18.5791V21.2333H21.2333V19.9062Z" fill="#4D4D4D"/>
												</svg>
											</div>
											<div class="popup-form-2021__text">
												Наш дизайнер свяжется с вами в ближайшее время
											</div>
										</div>
									
									</div>
								</div>
								<div class="mb-4">
									<span class="bmd-form-group">
										<div class="checkbox bmd-custom-checkbox">
											<label>
												<input type="checkbox" value="" ><span class="checkbox-decorator"><span class="check"></span></span>
												Если будет дешевле
											</label>
										</div>
										<div class="checkbox bmd-custom-checkbox">
											<label>
												<input type="checkbox" value="" ><span class="checkbox-decorator"><span class="check"></span></span>
												Если будет другой цвет
											</label>
										</div>
										<div class="checkbox bmd-custom-checkbox">
											<label>
												<input type="checkbox" value="" ><span class="checkbox-decorator"><span class="check"></span></span>
												Если будут другие материалы
											</label>
										</div>
										<div class="checkbox bmd-custom-checkbox">
											<label>
												<input type="checkbox" value="" ><span class="checkbox-decorator"><span class="check"></span></span>
												Если будет индивидуальный проект
											</label>
										</div>
										<div class="checkbox bmd-custom-checkbox">
											<label>
												<input type="checkbox" value="" ><span class="checkbox-decorator"><span class="check"></span></span>
												Другое
											</label>
										</div>
									</span>
								</div>
								<div class="mb-4">
									<div class="form-group">
										{# <label for="exampleTextarea">Введите ваши пожелания</label> #}
										<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Введите ваши пожелания"></textarea>
									</div>
								</div>
								<div class="mb-4">
									<span class="bmd-form-group is-filled"><div class="checkbox bmd-custom-checkbox">
										<label class="mb-0">
											<input type="checkbox" value="Y" name="CONSENT" id="CONSTENT_1_CONSENT"><span class="checkbox-decorator"><span class="check"></span></span> 
											Соглашаюсь на 
											<a href="/company/license_work/" target="__blank" onclick="event.stopPropagation();">обработку персональных данных</a>
											<div class="invalid-feedback">согласитесь с условиями</div>
										</label>
									</div></span>
								</div>
								<div class="mb-0">
									<div class="popup-form-2021-btn">
										<input type="submit" class="btn btn-primary" name="submit" value="Узнать скидку">
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
