<div class="fancybox-container popup-form popup-form-2021 fancybox-is-open" role="dialog" tabindex="-1" id="fancybox-container-2" style="transition-duration: 300ms;">
	<div class="fancybox-bg"></div>
	<div class="fancybox-inner">
		<div class="fancybox-stage">
			<div class="fancybox-slide fancybox-slide--html fancybox-slide--current fancybox-slide--complete" style="">
				<div class="popup-form-2021-wrapper">
					<button data-fancybox-close="" class="fancybox-close-small">
						<svg class="icon-svg text-secondary">
							<use xlink:href="#svg-close"></use>
						</svg>
					</button>
					<div id="comp_2a98047c9e5ccf4af36501f0f27be1d6" class="fancybox-content" style="">
						<div class="rsform">

							<form action="/forms/recall/?fancybox=true&amp;cache=true" method="POST" id="form_u9gz8z" novalidate=""><input type="hidden" name="captcha_sid" value="018c3f59673b6429f03d524182b32386"><input class="bmd-form-control" type="hidden" name="captcha_word" id="_captcha_word" size="30" maxlength="50" value="" autocomplete="off"><input type="hidden" name="g-recaptcha-response" value="03AGdBq24-u78lRE3APh7erJ3DZLxU8FXP2RLbwXT9FO2BFJ--1gHXTKXc741rGBLkvlsUOxftavmIo65Ip7Bj8nle9B_e3v_EY8Ln8QHcQOvrryasfCrbAfU-K55wVT-1gB_znciEdKDsl96dRzHstzOSGgVyNIVqaJT0p-iuzygDUaL-7q0AtbfLcSa8Bpfcu3-U3rDEgqEUpCKug2-vaFMEN1_eyMqeDH2aa5CB8ngg8m4kSNMm6KJgZjCzEwwV1rwuCboymG-cWqF814yFtjopCOzXnnE9ch37Jvt_vwCSS75JxdK6h_rOXE8keXhM-NROJ5g8LN5BMmaMQBlMFNTgZloZ_iCF-61SQGJ36EsIetOrF_mrpfXvXFTh-Yv_0etIZh42mOhqUHwNMm38C8WZbgmKEEDjoNhk1IdTCQ5KjBTBo29kJJY"><input type="hidden" name="g-recaptcha-response" value="03AGdBq26rtpPtCj9XRFMrHKlcCLXdgEZrffr2Lcwvmw-lFz-ElfgWr_CP6nKUXpBqvJvoIL2iUF03_cCzOQ2BWI2x9uArGEzcaRCpGdwKF6Wlyl3ppJ7dkFCR7boqgc-Mn2NKu4jCuwV6r-oC144uHPzhzPhU0O3D6Y9KgOnT033eP2n5VkpPBG1TJVeB35Zzu9MTZGg4Md9kDcaqheVOkiX90PXd2hxJ_8YnqJvy2X1qvc23PQwUbUWF41zvkcldrxsXtB3QMquagweHIFtAxfZMCdDR2DtTjHgx94D1P1nAmkH3fBPi-h5Ag2uGOAnWSdZgH47fdbvPUNY0r6r3FmY3ScmX63vfh_r7n7rM_Zcn2P7KjNqSfyGhMwJmn0S9FwdN06Ga9fIWmrp9l5L13Rxi2vLyv3tGL7-uLDSxGOh_ar_XpiAPwmw">
								<div class="mb-0">
									<div class="popup-form-2021-complete">
										<div class="popup-form-2021-complete__icon">
											<svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M9.95589 20.5954C9.7077 20.8551 9.36909 21 9.01735 21C8.66561 21 8.327 20.8551 8.07881 20.5954L0.583396 12.7975C-0.194465 11.9884 -0.194465 10.6764 0.583396 9.86876L1.52193 8.89225C2.30004 8.08313 3.55993 8.08313 4.33779 8.89225L9.01735 13.7601L21.6622 0.606841C22.4403 -0.20228 23.7014 -0.20228 24.4781 0.606841L25.4166 1.58335C26.1945 2.39247 26.1945 3.70426 25.4166 4.51212L9.95589 20.5954Z" fill="white"/>
											</svg>
										</div>
										<div class="popup-form-2021-complete__text text-center">
											Спасибо за отправленную заявку, наш менеджер свяжется с Вами в ближайшее время
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
