<div class="fancybox-container popup-form fancybox-is-open" role="dialog" tabindex="-1" id="fancybox-container-1" style="transition-duration: 300ms;">
    <div class="fancybox-bg"></div>
    <div class="fancybox-inner">
        <div class="fancybox-stage">
            <div class="fancybox-slide fancybox-slide--html fancybox-slide--current fancybox-slide--complete" style="">
                <div>
                    <button data-fancybox-close="" class="fancybox-close-small">
                        <svg class="icon-svg text-secondary">
                            <use xlink:href="#svg-close"></use>
                        </svg>
                    </button>
                    <div class="fancybox-content" style="">
                        <div class="fancybox-title fancybox-title-inside-wrap p-0">Монитор BenQ GW2270 (Набор)</div>

                        <article class="bx-catalog-element product-detail-2021 product-detail-popup" id="bx_117848907_1709" itemscope="" itemtype="http://schema.org/Product">
                            <div class="scroll-wrapper product-detail scrollbar-inner" style="position: relative;">
                                <div class="product-detail scrollbar-inner scroll-content" data-scrollbar="" style="height: 496px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                                    <div class="h-100 container-fluid">
                                        <div class="row align-items-stretch">

                                            <div class="col-xs-12 col-lg-4 pr-4 pl-6">
                                                <div class="product-detail-slider-container" id="bx_117848907_53_big_slider">
                                                    <div class="product-detail-slider-block
                                                                                " data-entity="images-slider-block">
                                                        <div class="product-detail-slider-images-container show-items-1" data-entity="images-container" data-slider="bx_117848907_53_big_slider" data-slider-options="{&quot;margin&quot;:0,&quot;nav&quot;:true,&quot;dots&quot;:true,&quot;dotsData&quot;:true,&quot;dotsContainer&quot;:&quot;#bx_117848907_53_big_slider_dots&quot;,&quot;items&quot;:1,&quot;responsive&quot;:[]}">
                                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-1.jpg" data-entity="image" data-index="0" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-1.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-1.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270" itemprop="image"></span>
                                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-2.jpg" data-entity="image" data-index="1" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-2.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-2.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-3.jpg" data-entity="image" data-index="2" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-3.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-3.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-4.jpg" data-entity="image" data-index="3" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-4.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-4.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-5.jpg" data-entity="image" data-index="4" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-5.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-5.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                                        </div>
                                                        <span class="product-cat-label-text " id="bx_117848907_53_sticker">
                                                            <span class="product-cat-label-text-item" id="bx_117848907_53_dsc_pict" style="display:none;">
                                                                0%
                                                            </span>
                                                        </span>
                                                        {# <div class="product-cat-image-action">
                                                            <div class="product-cat-action-container">
                                                                <label class="product-cat-action" id="bx_117848907_53_compare_link">
                                                                    <input type="checkbox" data-entity="compare-checkbox">
                                                                    <svg class="product-cat-action-icon icon-svg">
                                                                        <use xlink:href="#svg-copy"></use>
                                                                    </svg>
                                                                </label>
                                                            </div>


                                                            <div class="product-cat-action-container">
                                                                <label class="product-cat-action" id="_favorite">
                                                                    <svg class="product-cat-action-icon icon-svg">
                                                                        <use xlink:href="#svg-heart"></use>
                                                                    </svg>
                                                                </label>
                                                            </div>
                                                        </div> #}
                                                    </div>
                                                    <div class="product-detail-slider-dots owl-carousel owl-loaded">
                                                        <div class="owl-dots" id="bx_117848907_53_big_slider_dots" data-slider-dots="bx_117848907_53_big_slider"></div>
                                                    </div>
                                                    {# <div class="d-none d-lg-block text-center mb-4" data-entity="share">
                                                        <div class=" ya-share2" data-counter data-copy="first" data-services="gplus,odnoklassniki,telegram,twitter,viber,vkontakte,whatsapp" data-lang="ru"></div>
                                                        <small class="text-extra">Рассказать друзьям</small>
                                                    </div> #}
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-lg-4 px-4 d-flex flex-column">
                                                <div class="sticky-top">
                                                    <div class="font-size-sm text-extra pt-5 mb-4">
                                                        <div class="align-items-center">
                                                            {# <span class="d-inline-block align-middle py-2 mr-5" data-entity="sku-prop-31">
                                                                Артикул: 13041452
                                                            </span> #}
                                                            <span class="d-inline-block align-middle py-2 mr-5 font-size-base">
                                                                <small>
                                                                    <span class="rate rate-stars">

                                                                        <span id="bx_vo_3_1709_sBq3II_stars" class="rate__items">
                                                                            <span id="vote_1709_0" class="rate__item is-voted" title="1">
                                                                                <svg class="rate__item-icon icon-svg">
                                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                                </svg>
                                                                            </span>
                                                                            <span id="vote_1709_1" class="rate__item is-voted" title="2">
                                                                                <svg class="rate__item-icon icon-svg">
                                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                                </svg>
                                                                            </span>
                                                                            <span id="vote_1709_2" class="rate__item is-voted" title="3">
                                                                                <svg class="rate__item-icon icon-svg">
                                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                                </svg>
                                                                            </span>
                                                                            <span id="vote_1709_3" class="rate__item is-voted" title="4">
                                                                                <svg class="rate__item-icon icon-svg">
                                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                                </svg>
                                                                            </span>
                                                                            <span id="vote_1709_4" class="rate__item" title="5">
                                                                                <svg class="rate__item-icon icon-svg">
                                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </small>
                                                            </span>
                                                        </div>
                                                        <div class="mb-4">
                                                            <span class="d-inline-block align-middle py-2">
                                                                <span class="product-cat-limit is-limited" id="bx_117848907_1709_quant_limit">
                                                                    Наличие:
                                                                    <span class="product-cat-limit-quantity">
                                                                        Мало
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="product-detail-properties">
                                                                <dl class="product-cat-properties">
                                                                    <dt>Вид мебели:</dt>
                                                                    <dd>Мебель для ТВ</dd>
                                                                    <dt>Производство::</dt>
                                                                    <dd>На заказ</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="font-size-sm text-item-extra">
                                                                Материалы, цвета, размеры, конструкцию, наполнение, и прочие характеристики, можно изменить по вашему предпочтению
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="product-detail-properties">
                                                                <dl class="product-cat-properties">
                                                                    <dt>Артикул:</dt>
                                                                    <dd>13041452</dd>
                                                                    <dt>Наименование:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Стоимость погонного метра от:</dt>
                                                                    <dd>500 руб.</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="font-size-sm text-item-extra">
                                                                Стоимость ориентировочная и может изменяться в зависимости от выбранных критериев и материалов.
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="product-detail-properties">
                                                                <dl class="product-cat-properties text-item-primary">
                                                                    <dt>Материалы корпуса:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Варианты материалов корпуса:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Материалы фасадов:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Варианты материалов фасада:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Цвет:</dt>
                                                                    <dd>Цвета фасадов и корпуса могут быть любыми и выбираются с дизайнером по каталогу</dd>
                                                                    <dt>Возможные эффекты фасадов:</dt>
                                                                    <dd>Матовый</dd>
                                                                    <dt>Стиль:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Класс:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Размер:</dt>
                                                                    <dd>Соответствует индивидуальному замеру</dd>
                                                                    <dt>Производители фурнитуры:</dt>
                                                                    <dd>Blum, Grass, Hettich</dd>
                                                                    <dt>Ручки:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Дополнительные опции:</dt>
                                                                    <dd>Подсветки, доводчики</dd>
                                                                    <dt>Изготовление:</dt>
                                                                    <dd>-</dd>
                                                                    <dt>Гарантия:</dt>
                                                                    <dd>2 года</dd>
                                                                    <dt>Цена:</dt>
                                                                    <dd>Не окончательная, указана предварительно за базовый м.п., и может изменяться в зависимости от выбранных размеров, комплектующих, материалов и внутреннего наполнения</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="font-size-sm text-item-extra">
                                                                * предложение не является публичной офертой. Изображения на фото могут иметь отличия от реального внешнего вида товара.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-12 col-lg-4 px-4 d-flex flex-column">
                                                <div class="sticky-top">
                                                    <div class="mb-3 pt-5">
                                                        <div class="product-detail-price" data-entity="price" data-price-id="1">
                                                            <div class="product-detail-price" data-entity="price">
                                                                <div class="text-nowrap">
                                                                    <span class="product-cat-price-current discount" data-entity="price-current">
                                                                        5 931 руб.
                                                                    </span>

                                                                    <span class="product-cat-price-old" style="display: ;" data-entity="price-full">
                                                                        6 590 руб.
                                                                    </span>
                                                                </div>

                                                                <div class="product-cat-price-economy" style="display: ;" data-entity="price-discount">
                                                                    Скидка 659 руб.
                                                                </div>
                                                            </div>
                                                            {# <div class="product-detail-cashback mt-3 mb-4 py-2" id="bx_117848907_1709_cashback" data-entity="cashback" style="display: ;">
                                                                <img class="product-detail-cashback-icon mr-2 mb-1" src="/bitrix/templates/megamart_default/components/bitrix/catalog.element/preview/images/coins.png?v2" alt=""><span class="text-nowrap">Начислим бонусами:
                                                                    <span class="text-primary font-weight-bold" data-entity="cashback-value">297 руб.</span>
                                                                </span>
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                    <div class="mb-5">
                                                        <div class="product-detail-btn">
                                                            <a class="btn btn-primary btn-sign" href="javascript:void(0);">
                                                                <span>
                                                                    Записаться на замер
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="mb-5">
                                                        <div class="product-detail-sale">
                                                            <img class="product-detail-sale-icon" src="assets/img/item/flame.png" alt="">
                                                            <div class="product-detail-sale-body">
                                                                <div class="product-detail-sale-title mb-2">Участвует в акциях:</div>
                                                                <a class="product-detail-sale-name mb-3" href="/">Бесплатный выезд замерщика, “Скидка новосела”</a>
                                                                <a class="product-detail-all" href="/">Посмотреть все акции</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-5">
                                                        <a class="product-detail-link" href="/">Оформить в рассрочку под 0%</a>
                                                    </div>
                                                    <div class="mb-5">
                                                        <a class="product-detail-link" href="/">Получить консультацию дизайнера</a>
                                                    </div>
                                                    <div class="mb-4">
                                                        <a href="/" class="btn btn-outline-primary product-detail-buy">Куплю, если...</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-element scroll-x">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="width: 0px; left: 0px;"></div>
                                    </div>
                                </div>
                                <div class="scroll-element scroll-y">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="height: 0px;"></div>
                                    </div>
                                </div>
                            </div>

                            <meta itemprop="name" content="Монитор BenQ GW2270 (Набор)">
                            <meta itemprop="category" content="Компьютеры/Мониторы">
                            <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <meta itemprop="price" content="5931">
                                <meta itemprop="priceCurrency" content="RUB">
                                <link itemprop="availability" href="http://schema.org/InStock">
                            </span>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
