<article class="bx-catalog-element" id="bx_117848907_53" itemscope itemtype="http://schema.org/Product">

    <section class="l-section l-section--bg-white l-section--shadow l-section--outer-spacing l-section--inner-spacing" id="bx_117848907_53_main" data-spy="item" data-target="#l-main__nav" data-title="К покупке">
        <div class="l-section__container">
            <div class="l-section__wrap-main">
                <div class="l-section__main">
                    <div class="product-detail product-detail-2021">
                        <div class="row">

                            <div class="col-12 d-lg-none">
                                <div class="l-main__title mb-5 h4 font-weight-light">Монитор BenQ GW2270</div>
                            </div>

                            <div class="col-xs-12 col-lg-5">
                                <div class="product-detail-slider-container" id="bx_117848907_53_big_slider">
                                    <div class="product-detail-slider-block
                                                                " data-entity="images-slider-block">
                                        <div class="product-detail-slider-images-container show-items-1" data-entity="images-container" data-slider="bx_117848907_53_big_slider" data-slider-options="{&quot;margin&quot;:0,&quot;nav&quot;:true,&quot;dots&quot;:true,&quot;dotsData&quot;:true,&quot;dotsContainer&quot;:&quot;#bx_117848907_53_big_slider_dots&quot;,&quot;items&quot;:1,&quot;responsive&quot;:[]}">
                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-1.jpg" data-entity="image" data-index="0" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-1.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-1.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270" itemprop="image"></span>
                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-2.jpg" data-entity="image" data-index="1" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-2.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-2.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-3.jpg" data-entity="image" data-index="2" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-3.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-3.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-4.jpg" data-entity="image" data-index="3" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-4.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-4.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                            <span class="product-detail-slider-image" data-fancybox="gallery" data-caption="" data-src="assets/img/item/item-5.jpg" data-entity="image" data-index="4" data-options='{"slideShow" : false}' data-dot="&lt;button class=&quot;owl-preview&quot; style=&quot;background-image:url('assets/img/item/item-btn-5.jpg')&quot;&gt;&lt;/button&gt;"><img src="assets/img/item/item-5.jpg" alt="Монитор BenQ GW2270" title="Монитор BenQ GW2270"></span>
                                        </div>
                                        <span class="product-cat-label-text " id="bx_117848907_53_sticker">
                                            <span class="product-cat-label-text-item" id="bx_117848907_53_dsc_pict" style="display:none;">
                                                0%
                                            </span>
                                        </span>
                                        {# <div class="product-cat-image-action">
                                            <div class="product-cat-action-container">
                                                <label class="product-cat-action" id="bx_117848907_53_compare_link">
                                                    <input type="checkbox" data-entity="compare-checkbox">
                                                    <svg class="product-cat-action-icon icon-svg">
                                                        <use xlink:href="#svg-copy"></use>
                                                    </svg>
                                                </label>
                                            </div>


                                            <div class="product-cat-action-container">
                                                <label class="product-cat-action" id="_favorite">
                                                    <svg class="product-cat-action-icon icon-svg">
                                                        <use xlink:href="#svg-heart"></use>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div> #}
                                    </div>
                                    <div class="product-detail-slider-dots owl-carousel owl-loaded">
                                        <div class="owl-dots" id="bx_117848907_53_big_slider_dots" data-slider-dots="bx_117848907_53_big_slider"></div>
                                    </div>
                                    {# <div class="d-none d-lg-block text-center mb-4" data-entity="share">
                                        <div class=" ya-share2" data-counter data-copy="first" data-services="gplus,odnoklassniki,telegram,twitter,viber,vkontakte,whatsapp" data-lang="ru"></div>
                                        <small class="text-extra">Рассказать друзьям</small>
                                    </div> #}
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-7">
                                <h1 class="l-main__title mb-5 display-4 d-none d-lg-block">Монитор BenQ GW2270</h1>
                                <div class="product-detail-info-container font-size-sm text-extra mb-3">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-12 col-md-auto">
                                            {# <span class="d-inline-block align-middle py-2 mr-5" data-entity="sku-prop-51">
                                                Артикул: 13041452
                                            </span> #}
                                            <span class="d-inline-block align-middle py-2 mr-4 font-size-base">
                                                <small>
                                                    <span class="rate rate-stars">

                                                        <span id="bx_vo_8_53_sBq3II_stars" class="rate__items">
                                                            <span id="vote_53_0" class="rate__item is-voted" title="1">
                                                                <svg class="rate__item-icon icon-svg">
                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                </svg>
                                                            </span>
                                                            <span id="vote_53_1" class="rate__item is-voted" title="2">
                                                                <svg class="rate__item-icon icon-svg">
                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                </svg>
                                                            </span>
                                                            <span id="vote_53_2" class="rate__item is-voted" title="3">
                                                                <svg class="rate__item-icon icon-svg">
                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                </svg>
                                                            </span>
                                                            <span id="vote_53_3" class="rate__item is-voted" title="4">
                                                                <svg class="rate__item-icon icon-svg">
                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                </svg>
                                                            </span>
                                                            <span id="vote_53_4" class="rate__item" title="5">
                                                                <svg class="rate__item-icon icon-svg">
                                                                    <use xlink:href="#svg-star-solid"></use>
                                                                </svg>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <script type="text/javascript">
                                                        bx_vo_8_53_sBq3II = new JCIblockVoteStars({
                                                        'progressId': 'bx_vo_8_53_sBq3II_progr',
                                                        'ratingId': 'bx_vo_8_53_sBq3II_rating',
                                                        'starsId': 'bx_vo_8_53_sBq3II_stars',
                                                        'ajaxUrl': '/bitrix/components/bitrix/iblock.vote/component.php',
                                                        'checkVoteUrl': '/bitrix/components/bitrix/iblock.vote/ajax.php',
                                                        'ajaxParams': {
                                                        'SESSION_PARAMS': '79483cc1ea84ee4c5e2a700e339a04fe',
                                                        'PAGE_PARAMS': {
                                                        'ELEMENT_ID': 53
                                                        },
                                                        'sessid': '2a97b31e124cc55e4412f9cc82e1ec42',
                                                        'AJAX_CALL': 'Y'
                                                        },
                                                        'siteId': 's1',
                                                        'voteData': {
                                                        'element': 53,
                                                        'percent': 74.8,
                                                        'value': 3.74,
                                                        'count': 8
                                                        },
                                                        'readOnly': false
                                                        });
                                                    </script>
                                                </small>
                                            </span>
                                            <span class="d-inline-block align-middle py-2 d-inline-block-for-subscribe">
                                                <span class="product-cat-limit is-limited" id="bx_117848907_53_quant_limit">
                                                    Наличие:
                                                    <span class="product-cat-limit-quantity">
                                                        Мало
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-12 col-md-auto">
                                            <a class="d-flex align-items-center py-2" href="/brands/benq/">
                                                <img src="assets/img/item/brand.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detail-info-container font-size-sm text-extra mb-6">
                                    <div class="d-md-flex flex-row align-items-center mb-5">
                                        {# <a class="print-link align-self-end" style="font-size: 14px;" href='javascript:window.print()'>Версия для печати</a> #}
                                        <div class="d-inline-block mr-3 mb-4 mb-md-0">
                                            <div class="product-detail-price" data-entity="price" data-price-id="1">
                                                <div class="text-nowrap mb-2">
                                                    <span class="product-detail-price-current product-cat-price-current mr-3" data-entity="price-current">
                                                        6&nbsp;590 руб.
                                                    </span>

                                                    <span class="product-detail-price-old product-cat-price-old mr-5" data-entity="price-full">
                                                        6&nbsp;590 руб.
                                                    </span>
                                                </div>

                                                <div class="product-detail-price-economy product-cat-price-economy" data-entity="price-discount">
                                                    Скидка 6&nbsp;590 руб.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail-btn">
                                            <a class="btn btn-primary btn-sign" href="javascript:void(0);">
                                                <span>
                                                    Записаться на замер
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mb-5">
                                        <div class="product-detail-sale">
                                            <img class="product-detail-sale-icon" src="assets/img/item/flame.png" alt="">
                                            <div class="product-detail-sale-body mr-2">
                                                <div class="product-detail-sale-title">Участвует в акциях:</div>
                                                <a class="product-detail-sale-name" href="/">Бесплатный выезд замерщика, “Скидка новосела”</a>
                                            </div>
                                            <a class="product-detail-all" href="/">Посмотреть все акции</a>
                                        </div>
                                    </div>
                                    <div class="mb-5">
                                        <a class="product-detail-link" href="/">Оформить в рассрочку под 0%</a>
                                    </div>
                                    <div class="mb-5">
                                        <a class="product-detail-link" href="/">Получить консультацию дизайнера</a>
                                    </div>
                                    <div class="mb-4">
                                        <a href="/" class="btn btn-outline-primary product-detail-buy">Куплю, если...</a>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <div class="product-detail-properties">
                                        <dl class="product-cat-properties">
                                            <dt>Вид мебели:</dt>
                                            <dd>Мебель для ТВ</dd>
                                            <dt>Производство::</dt>
                                            <dd>На заказ</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <div class="font-size-sm text-item-extra">
                                        Материалы, цвета, размеры, конструкцию, наполнение, и прочие характеристики, можно изменить по вашему предпочтению
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="product-detail-properties">
                                        <dl class="product-cat-properties">
                                            <dt>Артикул:</dt>
                                            <dd>13041452</dd>
                                            <dt>Наименование:</dt>
                                            <dd>-</dd>
                                            <dt>Стоимость погонного метра от:</dt>
                                            <dd>500 руб.</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <div class="font-size-sm text-item-extra">
                                        Стоимость ориентировочная и может изменяться в зависимости от выбранных критериев и материалов.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="product-detail-properties">
                                        <dl class="product-cat-properties text-item-primary">
                                            <dt>Материалы корпуса:</dt>
                                            <dd>-</dd>
                                            <dt>Варианты материалов корпуса:</dt>
                                            <dd>-</dd>
                                            <dt>Материалы фасадов:</dt>
                                            <dd>-</dd>
                                            <dt>Варианты материалов фасада:</dt>
                                            <dd>-</dd>
                                            <dt>Цвет:</dt>
                                            <dd>Цвета фасадов и корпуса могут быть любыми и выбираются с дизайнером по каталогу</dd>
                                            <dt>Возможные эффекты фасадов:</dt>
                                            <dd>Матовый</dd>
                                            <dt>Стиль:</dt>
                                            <dd>-</dd>
                                            <dt>Класс:</dt>
                                            <dd>-</dd>
                                            <dt>Размер:</dt>
                                            <dd>Соответствует индивидуальному замеру</dd>
                                            <dt>Производители фурнитуры:</dt>
                                            <dd>Blum, Grass, Hettich</dd>
                                            <dt>Ручки:</dt>
                                            <dd>-</dd>
                                            <dt>Дополнительные опции:</dt>
                                            <dd>Подсветки, доводчики</dd>
                                            <dt>Изготовление:</dt>
                                            <dd>-</dd>
                                            <dt>Гарантия:</dt>
                                            <dd>2 года</dd>
                                            <dt>Цена:</dt>
                                            <dd>Не окончательная, указана предварительно за базовый м.п., и может изменяться в зависимости от выбранных размеров, комплектующих, материалов и внутреннего наполнения</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="font-size-sm text-item-extra">
                                        * предложение не является публичной офертой. Изображения на фото могут иметь отличия от реального внешнего вида товара.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# <section class="l-section l-section--bg-white l-section--shadow l-section--outer-spacing" id="bx_117848907_53_tabs" data-spy="item" data-target="#l-main__nav" data-title="Подробная информация">
        <div class="l-section__container">
            <div class="l-section__wrap-main">
                <div class="l-section__head" data-entity="header">
                    <div class="nav-wrap">
                        <ul class="nav nav-slide" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" rel="nofollow" href="#tab_bx_117848907_53_detail" id="bx_117848907_53_detail" data-toggle="tab">
                                    <span>Описание</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" rel="nofollow" href="#tab_bx_117848907_53_props" id="bx_117848907_53_props" data-toggle="tab">
                                    <span>Характеристики</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" rel="nofollow" href="#soc_comments_53BLOG_cont" data-toggle="tab">
                                    <span>Комментарии</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l-section__main">
                    <div class="tab-content" id="bx_117848907_53_tab_containers">
                        <div class="bg-light block-spacing tab-pane show active" id="tab_bx_117848907_53_detail" data-value="description" itemprop="description">

                            <h3>Экономичный и энергоффективный</h3>
                            <p>
                                Желающим приобрести качественный, но не слишком дорогой экран, следует выбрать монитор ЖК BENQ GW2270. Модель получила достаточно большой дисплей (21,5 дюйма) с разрешением 1920&#215;1080. Он отличается высоким качеством картинки – вы сможете получить максимум удовольствия от использования этого устройства. Разрешение 16:9 гарантирует удобный просмотр всего контента, поддержку компьютерных игр. Монитор ЖК BENQ GW2270 основан на базе матрицы TFT A-MVA. Ее основные преимущества – невысокая стоимость в сочетании с хорошими углами обзора, у вас не возникнет проблем во время использования. Установлена система Flicker-Free, она снижает мерцание дисплея, существенно уменьшается нагрузка на глаза. WLED-подсветка гарантирует высокую яркость картинки, она потребляет минимальное количество электроэнергии, можно снизить ваши дополнительные расходы.
                            </p>
                            <p>
                                <br>
                            </p>
                            <h3>Обеспечение комфортной работы в офисе</h3>
                            <p>
                                Разработанные с учетом требований компьютерной эргономики, мониторы  BENQ GW2270 помогает поддержать здоровье и производительность труда работников офиса на должном уровне. Установлена система Flicker-Free, она снижает мерцание дисплея, существенно уменьшается нагрузка на глаза. WLED-подсветка гарантирует высокую яркость картинки, она потребляет минимальное количество электроэнергии, можно снизить ваши дополнительные расходы. BENQ GW2270 приятно удивит своей экономичностью, энергоффективностью и экологичностью.
                            </p>
                        </div>
                        <div class="bg-light block-spacing tab-pane" id="tab_bx_117848907_53_props" data-value="properties">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-4 d-none d-lg-block">
                                        <div class="position-sticky sticky-compact">
                                            <nav class="nav nav-scrollspy flex-column border-right text-right pr-lg-2" role="tablist" id="bx_2320664013_props_nav">
                                                <div class="nav-item">
                                                    <a class="nav-link js-link-scroll h6 mb-0" href="#bx_2320664013_COMMON">
                                                        <span>Общие характеристики</span>
                                                        <svg class="nav-link-icon icon-svg">
                                                            <use xlink:href="#svg-arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="nav-item">
                                                    <a class="nav-link js-link-scroll h6 mb-0" href="#bx_2320664013_DISPLAY">
                                                        <span>Экран</span>
                                                        <svg class="nav-link-icon icon-svg">
                                                            <use xlink:href="#svg-arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="nav-item">
                                                    <a class="nav-link js-link-scroll h6 mb-0" href="#bx_2320664013_OTHER_PROPS">
                                                        <span>Остальные характеристики</span>
                                                        <svg class="nav-link-icon icon-svg">
                                                            <use xlink:href="#svg-arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col pl-lg-6">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-12">
                                                <div class="mb-4 mb-md-5" id="bx_2320664013_COMMON">
                                                    <h5 class="pt-2 pb-3 mb-3">Общие характеристики</h5>
                                                    <div class="product-detail-properties">
                                                        <dl class="product-cat-properties">
                                                            <dt>Бренд:</dt>
                                                            <dd>
                                                                <a href="/brands/benq/">BenQ</a>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-12">
                                                <div class="mb-4 mb-md-5" id="bx_2320664013_DISPLAY">
                                                    <h5 class="pt-2 pb-3 mb-3">Экран</h5>
                                                    <div class="product-detail-properties">
                                                        <dl class="product-cat-properties">
                                                            <dt>Тип:</dt>
                                                            <dd>ЖК-монитор, широкоформатный
                                                            </dd>
                                                            <dt>Разрешение:</dt>
                                                            <dd>1920x1080 (16:9)
                                                            </dd>
                                                            <dt>Диагональ, &quot;:</dt>
                                                            <dd>21.5
                                                            </dd>
                                                            <dt>Тип матрицы экрана:</dt>
                                                            <dd>TFT A-MVA
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-12">
                                                <div class="mb-4 mb-md-5" id="bx_2320664013_OTHER_PROPS">
                                                    <h5 class="pt-2 pb-3 mb-3">Остальные характеристики</h5>
                                                    <div class="product-detail-properties">
                                                        <dl class="product-cat-properties font-size-sm">
                                                            <dt>Потребляемая мощность:</dt>
                                                            <dd>в режиме ожидания: 0.50 Вт
                                                            </dd>
                                                            <dt>Максимальное количество цветов:</dt>
                                                            <dd>16.7 млн
                                                            </dd>
                                                            <dt>Входы:</dt>
                                                            <dd>DVI-D (HDCP) / VGA (D-Sub)
                                                            </dd>
                                                            <dt>Блок питания:</dt>
                                                            <dd>встроенный
                                                            </dd>
                                                            <dt>Функциональность:</dt>
                                                            <dd>калибровка цвета
                                                            </dd>
                                                            <dt>Контрастность:</dt>
                                                            <dd>3000:1
                                                            </dd>
                                                            <dt>Яркость:</dt>
                                                            <dd>250 кд/м2
                                                            </dd>
                                                            <dt>Подсветка:</dt>
                                                            <dd>WLED
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    var obbx_2320664013_props = new JCGrupperList({
                                    'VISUAL': {
                                    'ID': 'bx_2320664013_props',
                                    'NAV': 'bx_2320664013_props_nav'
                                    }
                                    });
                                </script>

                            </div>

                        </div>
                        <div id="soc_comments_53BLOG_cont" class="tab-pane">
                            <section class="l-section l-section--bg-white l-section--outer-spacing">
                                <div class="l-section__container">
                                    <div class="l-section__wrap-main">
                                        <div class="l-section__main">
                                            <div id="bx-cat-soc-comments-blg_53">
                                                <div class="p-4 p-sm-7">Загрузка комментариев...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <script type="text/javascript">
                            var obCatalogComments_53 = new JCCatalogSocnetsComments({
                            'serviceList': {
                            'blog': true
                            },
                            'settings': {
                            'blog': {
                            'ajaxUrl': '/bitrix/templates/megamart_default/components/bitrix/catalog.comments/tabs/ajax.php?IBLOCK_ID=8&ELEMENT_ID=53&SITE_ID=s1',
                            'ajaxParams': [],
                            'contID': 'bx-cat-soc-comments-blg_53'
                            },
                            'facebook': {
                            'parentContID': 'bx_117848907_53_tabs'
                            }
                            },
                            'tabs': {
                            'activeTabId': 'BLOG',
                            'tabsContId': 'soc_comments_53',
                            'tabList': ['BLOG']
                            },
                            'EXTERNAL_TABS': 'Y'
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="l-section l-section--bg-white l-section--shadow l-section--outer-spacing" id="bx_117848907_53_" data-spy="item" data-target="#l-main__nav" data-title="Наличие">
        <div class="l-section__container">
            <div class="l-section__wrap-main">
                <div class="l-section__head" data-entity="header">
                    <div class="section-head">
                        <div class="section-head__title">
                            <h2 class="h4">Наличие</h2>
                        </div>
                    </div>
                </div>
                <div class="l-section__main">
                    <div class="bx_storege" id="catalog_store_amount_div" style="display:block;">

                        <ul class="shop-list-items list-unstyled" id="c_store_amount">
                            <li class="shop-list-item" style="display: ;">
                                <div class="shop-list-item__container">
                                    <div class="shop-list-item__picture">
                                        <img src="/upload/resize_cache/catalog/139/370_200_1/139fbc0c226bf60889c3b710fdb3acc6.jpg" alt="Склад (пр. Московский д. 51)">
                                    </div>
                                    <div class="shop-list-item__data">
                                        <div class="shop-list-item__name">
                                            <a href="/store/1">Склад (пр. Московский д. 51)</a>
                                            <span class="badge badge-secondary" data-entity="stock-amount"></span>
                                        </div>
                                        <div class="shop-list-item__prop shop-list-item__prop--phone">
                                            <svg class="icon-svg ">
                                                <use xlink:href="#svg-phonetube"></use>
                                            </svg>
                                            телефон: 8 (000) 000 00 00
                                        </div>
                                        <div class="shop-list-item__prop shop-list-item__prop--schedule">
                                            <svg class="icon-svg">
                                                <use xlink:href="#svg-clock"></use>
                                            </svg>
                                            график работы: Пн.-Пт. с 9:00 до 20:00, Сб.-Вс. с 11:00 до 18:00
                                        </div>
                                        <div class="shop-list-item__prop shop-list-item__prop--custom">
                                            описание: Здесь вы найдете товары ведущих производителей мира
                                        </div>

                                    </div>
                                    <div class="col flex-grow-1 d-none d-lg-block px-4"><hr class="w-100"></div>
                                    <div class="col-lg-auto p-0">
                                        <div class="shop-list-item__prop shop-list-item__prop--custom">
                                            <span class="product-cat-limit is-outofstock" id="_1">
                                                <span class="product-cat-limit-quantity" data-entity="quantity-limit-value">
                                                    Нет
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div id="catalog_store_amount_div_none" style="display:none;">
                        <div class="shop-list-empty text-left">
                            <div class="row align-items-center">
                                <div class="col text-center mb-4 mb-sm-0">
                                    <svg class="text-primary icon-svg h4 mb-0 mr-5 d-none d-sm-inline">
                                        <use xlink:href="#svg-map-pin"></use>
                                    </svg>
                                    <span>Данного товара нет ни на одном складе.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="l-section l-section--bg-white l-section--shadow l-section--outer-spacing" id="bx_555007909_section" data-entity="parent-container" data-target="#l-main__nav" data-title="Выберите подарок">
        <div class="l-section__container">
            <div class="l-section__wrap-main">
                <div class="l-section__head" data-entity="header" data-showed="false" style="display:none;opacity:0;">
                    <div class="section-head">
                        <div class="section-head__title">
                            <h2 class="h4">Выберите подарок</h2>
                        </div>
                    </div>
                </div>
                <div class="l-section__main">
                    <div class="sale-products-gift" data-entity="sale-products-gift-container"></div>

                    <script>
                        BX.message({
                        BTN_MESSAGE_BASKET_REDIRECT: 'Перейти в корзину',
                        BASKET_URL: '/personal/cart/',
                        ADD_TO_BASKET_OK: 'Товар добавлен в корзину',
                        TITLE_ERROR: 'Ошибка',
                        TITLE_BASKET_PROPS: 'Свойства товара, добавляемые в корзину',
                        TITLE_SUCCESSFUL: 'Товар добавлен в корзину',
                        BASKET_UNKNOWN_ERROR: 'Неизвестная ошибка при добавлении товара в корзину',
                        BTN_MESSAGE_SEND_PROPS: 'Выбрать',
                        BTN_MESSAGE_CLOSE: 'Закрыть',
                        BTN_MESSAGE_CLOSE_POPUP: 'Продолжить покупки',
                        COMPARE_MESSAGE_OK: 'Товар добавлен в список сравнения',
                        COMPARE_UNKNOWN_ERROR: 'При добавлении товара в список сравнения произошла ошибка',
                        COMPARE_TITLE: 'Сравнение товаров',
                        PRICE_TOTAL_PREFIX: 'на сумму',
                        RELATIVE_QUANTITY_MANY: '',
                        RELATIVE_QUANTITY_FEW: '',
                        BTN_MESSAGE_COMPARE_REDIRECT: 'Перейти в список сравнения',
                        SITE_ID: 's1'
                        });

                        var obbx_555007909_jtNo1f = new JCSaleProductsGiftComponent({
                        siteId: 's1',
                        componentPath: '/bitrix/components/bitrix/sale.products.gift',
                        deferredLoad: true,
                        initiallyShowHeader: '',
                        currentProductId: 53,
                        template: 'catalog.644a7a60c2d66571785b7f22fd04b498b2a44881e0fa9c59b539d611f0da7930',
                        parameters: 'YTo4NTp7czoxNDoiQ1VTVE9NX1NJVEVfSUQiO047czoxOToiUFJPRFVDVF9JRF9WQVJJQUJMRSI7czoyOiJpZCI7czoxNToiQUNUSU9OX1ZBUklBQkxFIjtzOjY6ImFjdGlvbiI7czoyMDoiUFJPRFVDVF9ST1dfVkFSSUFOVFMiO3M6MDoiIjtzOjE4OiJQQUdFX0VMRU1FTlRfQ09VTlQiO2k6MDtzOjI5OiJERUZFUlJFRF9QUk9EVUNUX1JPV19WQVJJQU5UUyI7czozMjoiW3siVkFSSUFOVCI6MywiQklHX0RBVEEiOmZhbHNlfV0iO3M6Mjc6IkRFRkVSUkVEX1BBR0VfRUxFTUVOVF9DT1VOVCI7czoxOiI0IjtzOjIxOiJTSE9XX0RJU0NPVU5UX1BFUkNFTlQiO3M6MToiTiI7czoyNToiRElTQ09VTlRfUEVSQ0VOVF9QT1NJVElPTiI7czoxMjoiYm90dG9tLXJpZ2h0IjtzOjE0OiJTSE9XX09MRF9QUklDRSI7czoxOiJZIjtzOjIwOiJQUk9EVUNUX0RJU1BMQVlfTU9ERSI7czoxOiJZIjtzOjIwOiJQUk9EVUNUX0JMT0NLU19PUkRFUiI7czoxNzoic2t1LHByZXZpZXcscHJvcHMiO3M6MTE6IlNIT1dfU0xJREVSIjtzOjE6IlkiO3M6MTU6IlNMSURFUl9JTlRFUlZBTCI7czo0OiIzMDAwIjtzOjE1OiJTTElERVJfUFJPR1JFU1MiO3M6MToiTiI7czoxNToiVEVYVF9MQUJFTF9HSUZUIjtzOjE0OiLQn9C+0LTQsNGA0L7QuiI7czoxMjoiTEFCRUxfUFJPUF84IjthOjA6e31zOjE5OiJMQUJFTF9QUk9QX01PQklMRV84IjthOjA6e31zOjE5OiJMQUJFTF9QUk9QX1BPU0lUSU9OIjtzOjg6InRvcC1sZWZ0IjtzOjIwOiJBRERfVE9fQkFTS0VUX0FDVElPTiI7YToyOntpOjA7czozOiJBREQiO2k6MTtzOjk6IkJVWTFDTElDSyI7fXM6MTI6Ik1FU1NfQlROX0JVWSI7czoxNDoi0JLRi9Cx0YDQsNGC0YwiO3M6MjI6Ik1FU1NfQlROX0FERF9UT19CQVNLRVQiO3M6MTQ6ItCS0YvQsdGA0LDRgtGMIjtzOjE1OiJNRVNTX0JUTl9ERVRBSUwiO3M6MTg6ItCf0L7QtNGA0L7QsdC90LXQtSI7czoxODoiTUVTU19CVE5fU1VCU0NSSUJFIjtzOjIyOiLQn9C+0LTQv9C40YHQsNGC0YzRgdGPIjtzOjE1OiJTSE9XX1BST0RVQ1RTXzgiO3M6MToiWSI7czoxNToiUFJPUEVSVFlfQ09ERV84IjthOjMyOntpOjA7czo5OiJDT0xPUl9SRUYiO2k6MTtzOjU6IldJRFRIIjtpOjI7czo2OiJIRUlHSFQiO2k6MztzOjc6IkdMVUJJTkEiO2k6NDtzOjg6IlRJQ0tORVNTIjtpOjU7czo4OiJESUFHT05BTCI7aTo2O3M6MjA6IlBSSU5URVJfVE9ORVJTX0NPVU5UIjtpOjc7czo5OiJOVU1fRkFTT0siO2k6ODtzOjIxOiJNQVhfUkVTT0xVVElPTl9DQU1FUkEiO2k6OTtzOjI5OiJUWVBFX09GX01BVEVSSUFMX0ZPUl9IQVJEV0FSRSI7aToxMDtzOjExOiJUWVBFX0FSQkVJVCI7aToxMTtzOjEzOiJQUk9DRVNTT1JfUk9NIjtpOjEyO3M6MTE6Ik1FTU9SWV9DQVJEIjtpOjEzO3M6MTY6IkxBTUlOQVRfT1JOQU1FTlQiO2k6MTQ7czoxMDoiQ09OU0lTVEVOQyI7aToxNTtzOjIwOiJLRVJBTU9HUkFOSVRfU1VSRkFDRSI7aToxNjtzOjE3OiJCQVNFX1NVUFBPUlRFRF9PUyI7aToxNztzOjE5OiJDT0FUSU5HX09GX0hBUkRXQVJFIjtpOjE4O3M6MjU6Ik1PTklUT1JfU0NSRUVOX1JFU09MVVRJT04iO2k6MTk7czoxNzoiU0NSRUVOX1JFU09MVVRJT04iO2k6MjA7czoyMDoiU0NSRUVOX1JFU09MVVRJT05fSEQiO2k6MjE7czoyMDoiUFJJTlRFUl9DT0xPUlNfU1BFRUQiO2k6MjI7czoxNjoiUFJJTlRFUl9CV19TUEVFRCI7aToyMztzOjY6IlNUUkFOQSI7aToyNDtzOjExOiJDQU1FUkFfVFlQRSI7aToyNTtzOjE1OiJUWVBFX05BVklHQVRJT04iO2k6MjY7czoxNDoiUFJJTlRFUl9DT0xPUlMiO2k6Mjc7czoxMzoiU0NSRUVOX0ZPUk1BVCI7aToyODtzOjE2OiJQSVhFTFNfRUZGRUNUSVZFIjtpOjI5O3M6MTc6IlRJTUVfRlJPTV9CQVRURVJZIjtpOjMwO3M6NjoiUkFaTUVSIjtpOjMxO3M6NzoiVk9MVEFHRSI7fXM6MjE6IlBST1BFUlRZX0NPREVfTU9CSUxFOCI7YTowOnt9czoxNToiUFJPUEVSVFlfQ09ERV85IjthOjE3OntpOjA7czoxNToiQ09MT1JfU1RSQVBfUkVGIjtpOjE7czoxMDoiU0laRV9QVVJTRSI7aToyO3M6MTA6IlNUUkFQX1NJWkUiO2k6MztzOjc6IkZBU09WS0EiO2k6NDtzOjEyOiJMRU5HSFRfTUVUSVoiO2k6NTtzOjE1OiJTTUFSVFdBVENIX0NBU0UiO2k6NjtzOjExOiJNRU1PUllfQ0FSRCI7aTo3O3M6OToiQ09MT1JfUkVGIjtpOjg7czoxMDoiU0laRV9CT09UUyI7aTo5O3M6MTI6IkNMT1RIRVNfU0laRSI7aToxMDtzOjE2OiJTTUFSVFdBVENIX1NUUkFQIjtpOjExO3M6MTU6IlNNQVJUV0FUQ0hfU0laRSI7aToxMjtzOjc6IldIRUVMX1ciO2k6MTM7czo3OiJXSEVFTF9SIjtpOjE0O3M6NjoiVFlQRV9SIjtpOjE1O3M6NjoiVFlSRV9XIjtpOjE2O3M6NjoiVFlSRV9IIjt9czoxODoiT0ZGRVJfVFJFRV9QUk9QU185IjthOjE3OntpOjA7czoxNToiQ09MT1JfU1RSQVBfUkVGIjtpOjE7czoxMDoiU0laRV9QVVJTRSI7aToyO3M6MTA6IlNUUkFQX1NJWkUiO2k6MztzOjc6IkZBU09WS0EiO2k6NDtzOjEyOiJMRU5HSFRfTUVUSVoiO2k6NTtzOjE1OiJTTUFSVFdBVENIX0NBU0UiO2k6NjtzOjExOiJNRU1PUllfQ0FSRCI7aTo3O3M6OToiQ09MT1JfUkVGIjtpOjg7czoxMDoiU0laRV9CT09UUyI7aTo5O3M6MTI6IkNMT1RIRVNfU0laRSI7aToxMDtzOjE2OiJTTUFSVFdBVENIX1NUUkFQIjtpOjExO3M6MTU6IlNNQVJUV0FUQ0hfU0laRSI7aToxMjtzOjc6IldIRUVMX1ciO2k6MTM7czo3OiJXSEVFTF9SIjtpOjE0O3M6NjoiVFlQRV9SIjtpOjE1O3M6NjoiVFlSRV9XIjtpOjE2O3M6NjoiVFlSRV9IIjt9czoxNzoiQ0FSVF9QUk9QRVJUSUVTXzkiO2E6MDp7fXM6MjI6IkFERElUSU9OQUxfUElDVF9QUk9QXzgiO3M6MTA6Ik1PUkVfUEhPVE8iO3M6MjI6IkFERElUSU9OQUxfUElDVF9QUk9QXzkiO3M6MTA6Ik1PUkVfUEhPVE8iO3M6MTg6IkhJREVfTk9UX0FWQUlMQUJMRSI7czoxOiJZIjtzOjI1OiJISURFX05PVF9BVkFJTEFCTEVfT0ZGRVJTIjtzOjE6IlkiO3M6MjA6IlBST0RVQ1RfU1VCU0NSSVBUSU9OIjtzOjE6IlkiO3M6MTQ6IlRFTVBMQVRFX1RIRU1FIjtzOjQ6ImJsdWUiO3M6MTA6IlBSSUNFX0NPREUiO2E6NDp7aTowO3M6NDoiQkFTRSI7aToxO3M6NjoiUkVUQUlMIjtpOjI7czo1OiJXSE9MRSI7aTozO3M6ODoiRVhUUFJJQ0UiO31zOjE2OiJTSE9XX1BSSUNFX0NPVU5UIjtpOjE7czoxNzoiUFJJQ0VfVkFUX0lOQ0xVREUiO2I6MTtzOjE2OiJDT05WRVJUX0NVUlJFTkNZIjtzOjE6IlkiO3M6MTA6IkJBU0tFVF9VUkwiO3M6MTU6Ii9wZXJzb25hbC9jYXJ0LyI7czoyNDoiQUREX1BST1BFUlRJRVNfVE9fQkFTS0VUIjtzOjE6IlkiO3M6MjI6IlBST0RVQ1RfUFJPUFNfVkFSSUFCTEUiO3M6NDoicHJvcCI7czoyNjoiUEFSVElBTF9QUk9EVUNUX1BST1BFUlRJRVMiO3M6MToiWSI7czoyMDoiVVNFX1BST0RVQ1RfUVVBTlRJVFkiO3M6MToiTiI7czoyNToiUFJPRFVDVF9RVUFOVElUWV9WQVJJQUJMRSI7czo4OiJxdWFudGl0eSI7czoxMjoiQ0FDSEVfR1JPVVBTIjtzOjE6IlkiO3M6MjQ6IlBPVEVOVElBTF9QUk9EVUNUX1RPX0JVWSI7YTo3OntzOjI6IklEIjtpOjUzO3M6NjoiTU9EVUxFIjtzOjc6ImNhdGFsb2ciO3M6MjI6IlBST0RVQ1RfUFJPVklERVJfQ0xBU1MiO3M6Mzk6IlxCaXRyaXhcQ2F0YWxvZ1xQcm9kdWN0XENhdGFsb2dQcm92aWRlciI7czo4OiJRVUFOVElUWSI7TjtzOjk6IklCTE9DS19JRCI7aTo4O3M6MTY6IlBSSU1BUllfT0ZGRVJfSUQiO047czo3OiJTRUNUSU9OIjthOjQ6e3M6MjoiSUQiO3M6MjoiMjMiO3M6OToiSUJMT0NLX0lEIjtzOjE6IjgiO3M6MTE6IkxFRlRfTUFSR0lOIjtzOjI6IjMyIjtzOjEyOiJSSUdIVF9NQVJHSU4iO3M6MjoiMzMiO319czoyMjoiVVNFX0VOSEFOQ0VEX0VDT01NRVJDRSI7czoxOiJZIjtzOjE1OiJEQVRBX0xBWUVSX05BTUUiO3M6OToiZGF0YUxheWVyIjtzOjE0OiJCUkFORF9QUk9QRVJUWSI7czo5OiJCUkFORF9SRUYiO3M6MTU6IkRJU1BMQVlfQ09NUEFSRSI7YjoxO3M6MTI6IkNPTVBBUkVfUEFUSCI7czoxNzoiL2NhdGFsb2cvY29tcGFyZS8iO3M6MjA6IkRJU1BMQVlfUFJFVklFV19URVhUIjtzOjE6Ik4iO3M6MjA6IlBSRVZJRVdfVFJVTkNBVEVfTEVOIjtOO3M6MTE6IklTX1VTRV9DQVJUIjtzOjE6Ik4iO3M6MTA6IlBSSUNFX1BST1AiO047czoxMzoiRElTQ09VTlRfUFJPUCI7TjtzOjEzOiJDVVJSRU5DWV9QUk9QIjtOO3M6MTQ6IlBSSUNFX0RFQ0lNQUxTIjtOO3M6MTc6IlNIT1dfUEFSRU5UX0RFU0NSIjtzOjE6IlkiO3M6MTM6IlRFTVBMQVRFX1ZJRVciO3M6NToicG9wdXAiO3M6MjQ6IkdSSURfUkVTUE9OU0lWRV9TRVRUSU5HUyI7TjtzOjE1OiJVU0VfVk9URV9SQVRJTkciO3M6MToiWSI7czoyMjoiVk9URV9ESVNQTEFZX0FTX1JBVElORyI7TjtzOjExOiJTSE9XX1JBVElORyI7TjtzOjk6IlVTRV9HSUZUUyI7czoxOiJZIjtzOjEyOiJVU0VfRkFWT1JJVEUiO3M6MToiWSI7czoxOToiRkFWT1JJVEVfQ09VTlRfUFJPUCI7czoxNDoiRkFWT1JJVEVfQ09VTlQiO3M6MTQ6IlNIT1dfQVJUTlVNQkVSIjtOO3M6MTQ6IkFSVE5VTUJFUl9QUk9QIjthOjI6e2k6ODtzOjk6IkFSVE5VTUJFUiI7aTo5O3M6OToiQVJUTlVNQkVSIjt9czoyMDoiT0ZGRVJfQVJUTlVNQkVSX1BST1AiO3M6OToiQVJUTlVNQkVSIjtzOjI1OiJPRkZFUl9UUkVFX0RST1BET1dOX1BST1BTIjthOjA6e31zOjE4OiJSU19MQVpZX0lNQUdFU19VU0UiO047czoxNDoiUEFHRVJfVEVNUExBVEUiO3M6OToiYm9vdHN0cmFwIjtzOjE4OiJTTElERVJfU0xJREVfQ09VTlQiO047czoxNToiUlNfTElTVF9TRUNUSU9OIjtzOjk6Imxfc2VjdGlvbiI7czoyNjoiUlNfTElTVF9TRUNUSU9OX1NIT1dfVElUTEUiO3M6MToiWSI7czoyMToiUlNfTElTVF9TRUNUSU9OX1RJVExFIjtzOjMxOiLQktGL0LHQtdGA0LjRgtC1INC/0L7QtNCw0YDQvtC6IjtzOjEwOiJDQUNIRV9UWVBFIjtzOjE6IkEiO3M6MTc6IkNVUlJFTlRfQkFTRV9QQUdFIjtzOjQxOiIvY2F0YWxvZy9rb21weXV0ZXJ5L21vbml0b3J5L2JlbnEtZ3cyMjcwLyI7czoxMToiUEFSRU5UX05BTUUiO3M6MjI6ImJpdHJpeDpjYXRhbG9nLmVsZW1lbnQiO3M6MjA6IlBBUkVOVF9URU1QTEFURV9OQU1FIjtzOjc6ImNhdGFsb2ciO3M6MjA6IlBBUkVOVF9URU1QTEFURV9QQUdFIjtzOjA6IiI7czoxMzoiR0xPQkFMX0ZJTFRFUiI7YTowOnt9fQ==.aabf2abe1b0b8fafd175751a356db4ef95f58fa4d970a214a3be11a9f635f392',
                        container: 'sale-products-gift-container'
                        });
                    </script>

                </div>
            </div>
        </div>
    </section> #}
    <script>
        BX.Currency.setCurrencies([
        {
        'CURRENCY': 'BYN',
        'FORMAT': {
        'FORMAT_STRING': '# руб.',
        'DEC_POINT': '.',
        'THOUSANDS_SEP': '&nbsp;',
        'DECIMALS': 2,
        'THOUSANDS_VARIANT': 'B',
        'HIDE_ZERO': 'Y'
        }
        },
        {
        'CURRENCY': 'EUR',
        'FORMAT': {
        'FORMAT_STRING': '# &euro;',
        'DEC_POINT': '.',
        'THOUSANDS_SEP': '&nbsp;',
        'DECIMALS': 2,
        'THOUSANDS_VARIANT': 'B',
        'HIDE_ZERO': 'Y'
        }
        },
        {
        'CURRENCY': 'RUB',
        'FORMAT': {
        'FORMAT_STRING': '# &#8381;',
        'DEC_POINT': '.',
        'THOUSANDS_SEP': '&nbsp;',
        'DECIMALS': 2,
        'THOUSANDS_VARIANT': 'B',
        'HIDE_ZERO': 'Y'
        }
        },
        {
        'CURRENCY': 'UAH',
        'FORMAT': {
        'FORMAT_STRING': '# грн.',
        'DEC_POINT': '.',
        'THOUSANDS_SEP': '&nbsp;',
        'DECIMALS': 2,
        'THOUSANDS_VARIANT': 'B',
        'HIDE_ZERO': 'Y'
        }
        }, {
        'CURRENCY': 'USD',
        'FORMAT': {
        'FORMAT_STRING': '$#',
        'DEC_POINT': '.',
        'THOUSANDS_SEP': ',',
        'DECIMALS': 2,
        'THOUSANDS_VARIANT': 'C',
        'HIDE_ZERO': 'Y'
        }
        }
        ]);
    </script>
    <!--'start_frame_cache_OhECjo'-->
    <span id="sale_gift_product_522949229" class="sale_prediction_product_detail_container"></span>

    <script type="text/javascript">
        BX.ready(function () {

        var giftAjaxData = {
        'parameters': 'YTo1OntzOjk6IkJVVFRPTl9JRCI7czozMToiYnhfMTE3ODQ4OTA3XzUzX2FkZF9iYXNrZXRfbGluayI7czoxNDoiQ1VTVE9NX1NJVEVfSUQiO047czoyNDoiUE9URU5USUFMX1BST0RVQ1RfVE9fQlVZIjthOjc6e3M6MjoiSUQiO2k6NTM7czo2OiJNT0RVTEUiO3M6NzoiY2F0YWxvZyI7czoyMjoiUFJPRFVDVF9QUk9WSURFUl9DTEFTUyI7czozOToiXEJpdHJpeFxDYXRhbG9nXFByb2R1Y3RcQ2F0YWxvZ1Byb3ZpZGVyIjtzOjg6IlFVQU5USVRZIjtOO3M6OToiSUJMT0NLX0lEIjtpOjg7czoxNjoiUFJJTUFSWV9PRkZFUl9JRCI7TjtzOjc6IlNFQ1RJT04iO2E6NDp7czoyOiJJRCI7czoyOiIyMyI7czo5OiJJQkxPQ0tfSUQiO3M6MToiOCI7czoxMToiTEVGVF9NQVJHSU4iO3M6MjoiMzIiO3M6MTI6IlJJR0hUX01BUkdJTiI7czoyOiIzMyI7fX1zOjEwOiJDQUNIRV9UWVBFIjtzOjE6IkEiO3M6MTc6IlNHUF9DVVJfQkFTRV9QQUdFIjtzOjQxOiIvY2F0YWxvZy9rb21weXV0ZXJ5L21vbml0b3J5L2JlbnEtZ3cyMjcwLyI7fQ==.464483b8d4f4dcc30020db75a828da6a128a1a81c27e6730d8eae27758607bbb',
        'template': 'catalog.b19076bafb0aef81c14d324ebdc5e6572b2576de896a8a2e8b821ee8bb0a075f',
        'site_id': 's1'
        };

        //bx_sale_prediction_product_detail_load('sale_gift_product_522949229', giftAjaxData);

        BX.addCustomEvent('onHasNewPrediction', function (html) {
        var $button = $('#bx_117848907_53_add_basket_link');
        if (html.length > 0) {
        var popover = $button.data('bs.popover');
        if (popover == undefined) {
        $button.popover({
        placement: 'top',
        trigger: 'manual',
        sanitize: false,
        html: true,
        content: html + '<svg class="popover-close icon-svg" onclick="$(\'#bx_117848907_53_add_basket_link\').popover(\'hide\');"><use xlink:href="#svg-close"></use></svg>',
        delay: {
        show: 300,
        hide: 600
        }
        });
        } else {
        popover.config.content = html + '<svg class="popover-close icon-svg" onclick="$(\'#bx_117848907_53_add_basket_link\').popover(\'hide\');"><use xlink:href="#svg-close"></use></svg>';
        } $button.popover('show');
        } else {
        $button.popover('hide');
        }
        });
        });
    </script>

    <!--'end_frame_cache_OhECjo'-->

    <meta itemprop="name" content="Монитор BenQ GW2270"/>
    <meta itemprop="category" content="Компьютеры/Мониторы"/>
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="6590"/>
        <meta itemprop="priceCurrency" content="RUB"/>
        <link itemprop="availability" href="http://schema.org/InStock"/>
    </span>
</article>