
			<div class="l-page__header mb-md-6">

				<div class="l-head l-head--type1 l-head--primary has-banner is-underlay color-dark">
					<div class="l-head__main">

						<div class="position-relative">
							<div class="container">
								<div class="d-flex align-items-center justify-content-between py-5">

									<div class="l-head__logo-slogan d-flex align-items-center mr-4">
										<div class="d-block l-head__logo">
											<a class="b-header-logo" href="/">
												<img width="300" src="assets/img/logo.png" height="84">
											</a>
										</div>
										<div class="l-head__slogan d-none d-xl-block ml-4">
											<div class="font-weight-bold lh-1"></div>
										</div>
									</div>

									<div class="l-head__location d-block mx-4">

										<a href="/forms/recall/" class="btn btn-head btn-rounded btn-primary" data-type="ajax" data-popup-inited=" true">
											Заказать звонок
											<svg class="icon-svg">
												<use xlink:href="#svg-chevron-right"></use>
											</svg>
										</a>
									</div>

									<div class="l-head__phones d-block mx-4">
										<div class="d-flex align-items-center">
											<div class="d-none d-xl-block mr-4">
												<svg class="icon-svg text-extra h4 mb-0">
													<use xlink:href="#svg-phone"></use>
												</svg>
											</div>
											<div class="d-block">
												<div class="dropdown">
													<a class="d-block font-weight-bold text-body lh-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<span class="d-none d-xl-block">
															8 (000) 000-00-00
															<svg class="icon-svg text-extra lh-0">
																<use xlink:href="#svg-chevron-down"></use>
															</svg>
														</span>
														<span class="c-icon-count d-xl-none">
															<svg class="icon-svg text-extra h4 mb-0">
																<use xlink:href="#svg-phone"></use>
															</svg>
														</span>
													</a>
													<div class="dropdown-menu">
														<a href="tel:80000000000" class="dropdown-item">8 (000) 000-00-00</a>
														<a href="tel:80000000000" class="dropdown-item">8 (000) 000-00-00</a>
													</div>
												</div>

												<div class="d-none d-xl-block lh-1">
													<div class="d-block small text-extra">
														Без выходных 09:00-22:00
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="l-head__controls d-flex align-items-center mx-4">
										<div class="mr-5 d-block"></div>

										<a href="/personal/wishlist/" class="c-icon-count js-global-favorite" title="Избранное">
											<svg class="icon-svg">
												<use xlink:href="#svg-heart"></use>
											</svg>
											<span class="c-icon-count__quantity js-global-favorite__count">0</span>
										</a>
										<a href="/catalog/compare/" class="c-icon-count js-global-compare" title="Сравнение">
											<svg class="icon-svg">
												<use xlink:href="#svg-copy"></use>
											</svg>
											<span class="c-icon-count__quantity js-global-compare__count">0</span>
										</a>
									</div>

								</div>
							</div>

							<div class="l-head__line bg-primary">
								<div class="container js-menu-container">
									<div class="l-head__line-inner d-flex">

										<div class="d-block flex-grow-0 flex-shrink-1 position-relative order-2">
											<div class="position-absolute w-100"></div>
											<a class="menu-search-button menu-search-button--primary" href="#" data-open-search-popup="">
												<svg class="icon-svg">
													<use xlink:href="#svg-search"></use>
												</svg>
											</a>
										</div>
										<div class="d-flex flex-grow-1 flex-shrink-1 order-1 l-head__menu">
											<div class="l-mmenu-type1 l-mmenu-type1--primary mod-justify is-ready" id="mainMenu_LkGdQn" style="opacity: 1; overflow: visible; max-height: none; visibility: visible;">
												<div class="mmenu-type1-item mmenu-type1-item--primary is-selected">
													<a href="/" class="mmenu-type1-item__link">Главная</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/catalog/" class="mmenu-type1-item__link">Каталог</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/sale-promotions/" class="mmenu-type1-item__link">Акции</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/sale-promotions/" class="mmenu-type1-item__link">Материалы</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/company/" class="mmenu-type1-item__link">Компания</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/contacts/" class="mmenu-type1-item__link">Контакты</a>

												</div>

												<div class="mmenu-type1-item mmenu-type1-item--primary is-more has-children" style="display: none;">
													<a href="#" class="mmenu-type1-item__link">
														<svg class="icon-svg">
															<use xlink:href="#svg-points"></use>
														</svg>
													</a>
													<div class="mmenu-type1-item__dropdown"></div>
												</div>
											</div>
											<script>
												var Obj = new RS.MainMenu('mainMenu_LkGdQn');
											</script>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					{# <div class="l-head__banner">
						<div class="js-preloader rs_banner-preloader preloader" style="width: 100%; display: none;">
							<div class="rs-banner-loader">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<script data-skip-moving="true">
							var image = new Image();
							image.src = 'assets/img/a9188fc38fb79e08fa494816dd4dc8e4.jpg';
							if (! image.complete) {
							var preloader = document.querySelector('.js-preloader');

							if (preloader) {
							preloader.style.display = 'block';
							}
							}


							document.querySelector('.l-head').classList.add('color-light');
						</script>
						<div class="rs-banners-container js-mainbanners-container __wide __underlay">

							<div class="rs-banners-sidebanners"></div>


							<div class="js-banner-options" style="display: none;" data-autoplay="false" data-autoplay-speed="1000" data-autoplay-timeout="7000" data-height="660px" data-is-auto-adjust-height="false"></div>

							<div class="rs-banners js-banners owl-theme owl-carousel owl-loaded owl-drag" style="display: block">


								<div class="owl-stage-outer">
									<div class="owl-stage" style="transform: translate3d(-3249px, 0px, 0px); transition: all 1s ease 0s; width: 11913px;">
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_2" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg" style="background-image:url('assets/img/cc3276f4a10e7587c836dc3d254518bc.jpg')">
													<img src="assets/img/cc3276f4a10e7587c836dc3d254518bc.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/c27/c279ebc4cbb494205e07e69b09bc614f.png" src="assets/img/c279ebc4cbb494205e07e69b09bc614f.png" alt="Персональный ассистент (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Ваш персональный ассистент
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Организация деловых переговоров. Письменный перевод документов. Офис на час и услуги секретаря. Срочное получение виз, загранпаспортов.
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/services/" class="btn btn-primary">Подробнее</a>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_1" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/cff/cffc7725ab467304ddfa70c50771d766.jpg" style="background-image:url('/upload/iblock/cff/cffc7725ab467304ddfa70c50771d766.jpg')">
													<img src="/upload/iblock/cff/cffc7725ab467304ddfa70c50771d766.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/77b/77b6e358f2ec7aaca68da1197d7bff55.png" src="assets/img/77b6e358f2ec7aaca68da1197d7bff55.png" alt="3D проектирование (Изображение+фон+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																3D проектирование загородных домов
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																- Заполните заявку<br>
																- Получите предложения с ценами от мастеров<br>
																- Выберите исполнителей по цене и отзывам
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/services/" class="btn btn-primary">Заполнить заявку</a>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_5" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg" style="background-image:url('/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg')">
													<img src="/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info"></div>
													</div>

												</div>
												<a href="/catalog/myagkaya-mebel/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item active" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_4" data-text-color="light" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/a91/a9188fc38fb79e08fa494816dd4dc8e4.jpg" style="background-image:url('/upload/iblock/a91/a9188fc38fb79e08fa494816dd4dc8e4.jpg')">
													<img src="/upload/iblock/a91/a9188fc38fb79e08fa494816dd4dc8e4.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/1e2/1e2f077b16efe6a97ac2ecdabe5aa35f.png" src="assets/img/1e2f077b16efe6a97ac2ecdabe5aa35f.png" alt="Samsung-ue40k6500au (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Новый уровень ТВ реальности c Samsung UE40K6500AU<br>
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Full HD телевизоры Samsung – это новый опыт реализации виртуальной реальности. Вы увидите ваши любимые ТВ программы и фильмы в совершенно новом свете
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/catalog/elektronika/televizory/samsung-ue40k6500au/" class="btn btn-primary">Купить с выгодой</a>
															</div>
														</div>
													</div>

												</div>
												<a href="/catalog/elektronika/televizory/samsung-ue40k6500au/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_3" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/b95/b953ef3c52ef171af879b788dd3de777.jpg" style="background-image:url('/upload/iblock/b95/b953ef3c52ef171af879b788dd3de777.jpg')">
													<img src="/upload/iblock/b95/b953ef3c52ef171af879b788dd3de777.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/761/76155bcfc9ad65f01243609c568786d0.png" src="assets/img/76155bcfc9ad65f01243609c568786d0.png" alt="Все для туризма (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Сезонные скидки для настоящих туристов
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Покупайте рюкзаки, палатки и туристические ножи
																<br>
																с&nbsp;&nbsp;двойной 200% выгодой.
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/catalog/" class="btn btn-primary">Узнать подробнее</a>
															</div>
														</div>
													</div>

												</div>
												<a href="/catalog/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_2" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg" style="background-image:url('/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg')">
													<img src="/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/c27/c279ebc4cbb494205e07e69b09bc614f.png" src="assets/img/c279ebc4cbb494205e07e69b09bc614f.png" alt="Персональный ассистент (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Ваш персональный ассистент
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Организация деловых переговоров. Письменный перевод документов. Офис на час и услуги секретаря. Срочное получение виз, загранпаспортов.
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/services/" class="btn btn-primary">Подробнее</a>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
										<div class="owl-item" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_1" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/cff/cffc7725ab467304ddfa70c50771d766.jpg" style="background-image:url('assets/img/cffc7725ab467304ddfa70c50771d766.jpg')">
													<img src="assets/img/cffc7725ab467304ddfa70c50771d766.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/77b/77b6e358f2ec7aaca68da1197d7bff55.png" src="assets/img/77b/77b6e358f2ec7aaca68da1197d7bff55.png" alt="3D проектирование (Изображение+фон+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																3D проектирование загородных домов
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																- Заполните заявку<br>
																- Получите предложения с ценами от мастеров<br>
																- Выберите исполнителей по цене и отзывам
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/services/" class="btn btn-primary">Заполнить заявку</a>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
										<div class="owl-item" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_5" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg" style="background-image:url('/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg')">
													<img src="/upload/iblock/e71/e71808581a9c038697c90fa57a347cec.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info"></div>
													</div>

												</div>
												<a href="/catalog/myagkaya-mebel/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_4" data-text-color="light" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/a91/a9188fc38fb79e08fa494816dd4dc8e4.jpg" style="background-image:url('assets/img/a9188fc38fb79e08fa494816dd4dc8e4.jpg')">
													<img src="/upload/iblock/a91/a9188fc38fb79e08fa494816dd4dc8e4.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/1e2/1e2f077b16efe6a97ac2ecdabe5aa35f.png" src="assets/img/1e2f077b16efe6a97ac2ecdabe5aa35f.png" alt="Samsung-ue40k6500au (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Новый уровень ТВ реальности c Samsung UE40K6500AU<br>
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Full HD телевизоры Samsung – это новый опыт реализации виртуальной реальности. Вы увидите ваши любимые ТВ программы и фильмы в совершенно новом свете
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/catalog/elektronika/televizory/samsung-ue40k6500au/" class="btn btn-primary">Купить с выгодой</a>
															</div>
														</div>
													</div>

												</div>
												<a href="/catalog/elektronika/televizory/samsung-ue40k6500au/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_3" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/b95/b953ef3c52ef171af879b788dd3de777.jpg" style="background-image:url('assets/img/b953ef3c52ef171af879b788dd3de777.jpg')">
													<img src="/upload/iblock/b95/b953ef3c52ef171af879b788dd3de777.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/761/76155bcfc9ad65f01243609c568786d0.png" src="assets/img/761/76155bcfc9ad65f01243609c568786d0.png" alt="Все для туризма (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Сезонные скидки для настоящих туристов
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Покупайте рюкзаки, палатки и туристические ножи
																<br>
																с&nbsp;&nbsp;двойной 200% выгодой.
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/catalog/" class="btn btn-primary">Узнать подробнее</a>
															</div>
														</div>
													</div>

												</div>
												<a href="/catalog/" target="_blank" class="rs-banners_link"></a>

											</div>
										</div>
										<div class="owl-item cloned" style="width: 1083px;">
											<div class="rs-banners_banner" id="bx_3218110189_2" data-text-color="dark" style="opacity: 1;">


												<div class="rs-banners_background" data-img-src="/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg" style="background-image:url('assets/img/cc3276f4a10e7587c836dc3d254518bc.jpg')">
													<img src="/upload/iblock/cc3/cc3276f4a10e7587c836dc3d254518bc.jpg" style="width: 0px; height: 0px;">
												</div>


												<div class="rs-banners_wrap">

													<div class="rs-banners_product">
														<img data-img-src="/upload/iblock/c27/c279ebc4cbb494205e07e69b09bc614f.png" src="assets/img/c279ebc4cbb494205e07e69b09bc614f.png" alt="Персональный ассистент (фон+изображение+текст)">
													</div>


													<div class="rs-banners_infowrap" style="opacity: 1; transition: all 1s ease 0s;">
														<div class="rs-banners_info">
															<div class="rs-banners_title" style="display: inline-block;">
																Ваш персональный ассистент
															</div>
															<br>
															<div class="rs-banners_desc" style="display: inline-block;">
																Организация деловых переговоров. Письменный перевод документов. Офис на час и услуги секретаря. Срочное получение виз, загранпаспортов.
															</div>

															<br><div class="rs-banners_buttons" style="display: inline-block;">
																<a href="/services/" class="btn btn-primary">Подробнее</a>
															</div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="owl-nav">
									<button type="button" role="presentation" class="owl-prev">
										<svg class="icon-svg rs-banner-nav">
											<use xlink:href="#svg-arrow-left"></use>
										</svg>
									</button>
									<button type="button" role="presentation" class="owl-next">
										<svg class="icon-svg rs-banner-nav">
											<use xlink:href="#svg-arrow-right"></use>
										</svg>
									</button>
								</div>
								<div class="owl-dots">
									<button role="button" class="owl-dot active">
										<span></span>
									</button>
									<button role="button" class="owl-dot">
										<span></span>
									</button>
									<button role="button" class="owl-dot">
										<span></span>
									</button>
									<button role="button" class="owl-dot">
										<span></span>
									</button>
									<button role="button" class="owl-dot">
										<span></span>
									</button>
								</div>
							</div>

							<div class="rs-banners_bottom-line"></div>
						</div>

						<div class="js-preloader rs_banner-preloader preloader" style="width: 100%; display: none;">
							<div class="rs-banner-loader">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>


						<script>
							rsBannersOnReady();
						</script>
					</div> #}
				</div>
			</div>