
			<div class="l-page__header">

				<div class="l-head l-head--type1 l-head--primary is-underlay color-dark">
					<div class="l-head__main">

						<div class="position-relative">
							<div class="container">
								<div class="d-flex align-items-center justify-content-between py-5">

									<div class="l-head__logo-slogan d-flex align-items-center mr-4">
										<div class="d-block l-head__logo">
											<a class="b-header-logo" href="/">
												<img width="210" src="assets/img/logo.png" height="60">
											</a>
										</div>
										<div class="l-head__slogan d-none d-xl-block ml-4">
											<div class="font-weight-bold lh-1"></div>
										</div>
									</div>

									<div class="l-head__location d-block mx-4">

										<a href="/forms/recall/" class="btn btn-head btn-rounded btn-primary" data-type="ajax" data-popup-inited=" true">
											Заказать звонок
											<svg class="icon-svg">
												<use xlink:href="#svg-chevron-right"></use>
											</svg>
										</a>
									</div>

									<div class="l-head__phones d-block mx-4">
										<div class="d-flex align-items-center">
											<div class="d-none d-xl-block mr-4">
												<svg class="icon-svg text-extra h4 mb-0">
													<use xlink:href="#svg-phone"></use>
												</svg>
											</div>
											<div class="d-block">
												<div class="dropdown">
													<a class="d-block font-weight-bold text-body lh-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<span class="d-none d-xl-block">
															8 (000) 000-00-00
															<svg class="icon-svg text-extra lh-0">
																<use xlink:href="#svg-chevron-down"></use>
															</svg>
														</span>
														<span class="c-icon-count d-xl-none">
															<svg class="icon-svg text-extra h4 mb-0">
																<use xlink:href="#svg-phone"></use>
															</svg>
														</span>
													</a>
													<div class="dropdown-menu">
														<a href="tel:80000000000" class="dropdown-item">8 (000) 000-00-00</a>
														<a href="tel:80000000000" class="dropdown-item">8 (000) 000-00-00</a>
													</div>
												</div>

												<div class="d-none d-xl-block lh-1">
													<div class="d-block small text-extra">
														Без выходных 09:00-22:00
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="l-head__controls d-flex align-items-center mx-4">
										<div class="mr-5 d-block"></div>

										<a href="/personal/wishlist/" class="c-icon-count js-global-favorite" title="Избранное">
											<svg class="icon-svg">
												<use xlink:href="#svg-heart"></use>
											</svg>
											<span class="c-icon-count__quantity js-global-favorite__count">0</span>
										</a>
										<a href="/catalog/compare/" class="c-icon-count js-global-compare" title="Сравнение">
											<svg class="icon-svg">
												<use xlink:href="#svg-copy"></use>
											</svg>
											<span class="c-icon-count__quantity js-global-compare__count">0</span>
										</a>
									</div>

								</div>
							</div>

							<div class="l-head__line bg-primary">
								<div class="container js-menu-container">
									<div class="l-head__line-inner d-flex">

										<div class="d-block flex-grow-0 flex-shrink-1 position-relative order-2">
											<div class="position-absolute w-100"></div>
											<a class="menu-search-button menu-search-button--primary" href="#" data-open-search-popup="">
												<svg class="icon-svg">
													<use xlink:href="#svg-search"></use>
												</svg>
											</a>
										</div>
										<div class="d-flex flex-grow-1 flex-shrink-1 order-1 l-head__menu">
											<div class="l-mmenu-type1 l-mmenu-type1--primary mod-justify is-ready" id="mainMenu_LkGdQn" style="opacity: 1; overflow: visible; max-height: none; visibility: visible;">
												<div class="mmenu-type1-item mmenu-type1-item--primary is-selected">
													<a href="/" class="mmenu-type1-item__link">Главная</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/catalog/" class="mmenu-type1-item__link">Каталог</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/sale-promotions/" class="mmenu-type1-item__link">Акции</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/sale-promotions/" class="mmenu-type1-item__link">Материалы</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/company/" class="mmenu-type1-item__link">Компания</a>

												</div>
												<div class="mmenu-type1-item mmenu-type1-item--primary">
													<a href="/contacts/" class="mmenu-type1-item__link">Контакты</a>

												</div>

												<div class="mmenu-type1-item mmenu-type1-item--primary is-more has-children" style="display: none;">
													<a href="#" class="mmenu-type1-item__link">
														<svg class="icon-svg">
															<use xlink:href="#svg-points"></use>
														</svg>
													</a>
													<div class="mmenu-type1-item__dropdown"></div>
												</div>
											</div>
											<script>
												var Obj = new RS.MainMenu('mainMenu_LkGdQn');
											</script>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>