<div id="helpful_information" data-entity="index-page-block" data-block-name="MM_MAIN_PAGE_BLOCK_NEWS_AND_REVIEWS">
	<section class="l-section l-section--container l-section--bg-lg">
		<div class="l-section__container">
			<div class="l-section__wrap-main">
				<div class="l-section__head" data-entity="header">
					<div class="section-head">
						<div class="section-head__title mb-4 mb-sm-0">
							<h2 class="h4">Акции</h2>
						</div>
						<div class="section-head__controls">
							<a href="/info/" class="btn btn-primary sales-slider-btn">Посмотреть все</a>
						</div>
					</div>
				</div>
				<div class="l-section__main bg-white">
                    <div class="sales-slider">
                        <ul id="sales-slider" data-slider="sales-slider" data-slider-options="{&quot;margin&quot;:20,&quot;nav&quot;:true,&quot;dots&quot;:true}" class="row row-m-1 show-items-xs-1 show-items-md-2 show-item-lg-3 show-items-xl-4 owl-theme">
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_345">

                                <div class="b-news-list-tile__item">
                                    <a href="/" title="Акция, Стоимость дизайн-проекта от конкурента" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-1.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">14.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title mb-3">
                                                <a href="/" title="Акция, Стоимость дизайн-проекта от конкурента">Акция, Стоимость дизайн-проекта от конкурента</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Легкая инфографика.
                                                Предоставьте нашему замерщику
                                                (дизайнеру) Дизайн-проект от
                                                конкурирующей компании с его
                                                стоимостью, и получите
                                                Гарантированную скидку на данное
                                                решение.  

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">У меня есть проект</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_346">

                                <div class="b-news-list-tile__item">
                                    <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Беспроцентная рассрочка" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-2.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">11.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title">
                                                <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Беспроцентная рассрочка">Беспроцентная рассрочка</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Легкая инфографика о беспроцентной рассрочке и банках партнерах.

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">Заказать в рассрочку</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /b-news-list__item -->

                            </li>
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_347">

                                <div class="b-news-list-tile__item">
                                    <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Игровой блок новостройки" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-3.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">11.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title">
                                                <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Игровой блок новостройки">Игровой блок новостройки</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Lorem ipsum is placeholder text commonly
                                                used in the graphic, print, and publishing
                                                industries for previewing layouts and visual
                                                mockups.

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">Рассчитать скидку</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /b-news-list__item -->

                            </li>
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_348">

                                <div class="b-news-list-tile__item">
                                    <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Бесплатный выезд замерщика" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-4.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">11.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title">
                                                <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Бесплатный выезд замерщика">Бесплатный выезд замерщика</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Lorem ipsum is placeholder text commonly
                                                used in the graphic, print, and publishing
                                                industries for previewing layouts and visual
                                                mockups.

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">Вызвать замерщика</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /b-news-list__item -->

                            </li>
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_349">

                                <div class="b-news-list-tile__item">
                                    <a href="/" title="Акция, Стоимость дизайн-проекта от конкурента" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-1.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">14.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title mb-3">
                                                <a href="/" title="Акция, Стоимость дизайн-проекта от конкурента">Акция, Стоимость дизайн-проекта от конкурента</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Легкая инфографика.
                                                Предоставьте нашему замерщику
                                                (дизайнеру) Дизайн-проект от
                                                конкурирующей компании с его
                                                стоимостью, и получите
                                                Гарантированную скидку на данное
                                                решение.  

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">У меня есть проект</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2.4 mb-6 d-flex" id="bx_4665576_350">

                                <div class="b-news-list-tile__item">
                                    <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Игровой блок новостройки" class="b-news-list-tile__pic" style="background-image:url('assets/img/sales/sales-3.png')"></a>

                                    <div class="b-news-list-tile__body">
                                        <div class="b-news-list-tile__stickers">
                                            <div class="b-news-list-tile__stickers-in"></div>
                                        </div>
                                        <div class="b-news-list-tile__head">
                                            {# <div class="b-news-list-tile__info">
                                                <span class="b-news-list-tile__info-date">11.03.2020</span>
                                            </div> #}
                                            <h6 class="b-news-list-tile__title">
                                                <a href="/news/v-rossii-otkryt-priem-zakazov-na-tesla-model-3/" title="Игровой блок новостройки">Игровой блок новостройки</a>
                                            </h6>
                                            <p class="b-news-list-tile__text mb-4">
                                                Lorem ipsum is placeholder text commonly
                                                used in the graphic, print, and publishing
                                                industries for previewing layouts and visual
                                                mockups.

                                            </p>
                                            <a href="/info/" class="btn btn-primary sales-slider-btn mod-bottom">Рассчитать скидку</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /b-news-list__item -->

                            </li>

                        </ul>
                        <div data-slider-nav="sales-slider" class="slider-nav"></div>
                        <div data-slider-dots="sales-slider" class="slider-dots"></div>
                    </div>

				</div>
			</div>
		</div>
	</section>
</div>
