
<div id="adv_full_banner" data-entity="index-page-block" data-block-name="MM_MAIN_PAGE_BLOCK_PROMO_BANNER_SHORT">
    <div class="l-section l-section--outer-spacing">
    
        <div id="banner-slider" data-slider="banner-slider" data-slider-options="{&quot;margin&quot;:0, &quot;items&quot;: 1, &quot;responsive&quot;:[]}" class="owl-theme">
            <div class="adv-index-full mod-mobile">
                <div class="b-adv-item" id="bx_1373509569_8">
                    <a href="/" target="_self" title="Беспроцентная рассрочка">
                        <div class="b-adv-index-full" style="background-image: url('assets/img/index/banner-stretched-1.jpg')"></div>
                    </a>
                </div>
            </div>
            <div class="adv-index-full mod-mobile">
                <div class="b-adv-item" id="bx_1373509569_9">
                    <a href="/" target="_self" title="Беспроцентная рассрочка">
                        <div class="b-adv-index-full" style="background-image: url('assets/img/index/banner-stretched-2.jpg')"></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>