<div class="payment">
    <section class="l-section l-section--container l-section--outer-spacing-quart l-section--bg-white">
        <div class="l-section__container">
            <div class="l-section__wrap-main">
                <div class="l-section__main">
                    <div class="payment-main">
                        <div class="payment-content">
                            <form class="payment-form">
                                <div class="mb-5">
                                    <div class="payment__text">
                                        Для оплаты заполните поля и нажмите на кнопку “Оплатить”
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <div class="payment-input">
                                        <label for="payment-name" class="form-label">Номер договора <span class="mod-red">*</span></label>
                                        <input type="text" class="form-control" id="payment-name" placeholder="Как к вам обращаться?">
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <div class="payment-row">
                                        <div class="payment-col">
                                            <div class="payment-input">
                                                <label for="payment-phone" class="form-label">Телефон <span class="mod-red">*</span></label>
                                                <input type="text" class="form-control" id="payment-phone" placeholder="+7 (999) 177-21-37">
                                            </div>
                                        </div>
                                        <div class="payment-col">
                                            <div class="payment-input">
                                                <label for="payment-sum" class="form-label">Сумма для оплаты <span class="mod-red">*</span></label>
                                                <input type="text" class="form-control" id="payment-sum" placeholder="500 ₽" disabled>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <div class="payment-btn">
                                        <input type="submit" class="btn btn-primary" name="submit" value="Оплатить">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="payment__img" style="background-image: url('assets/img/payment/payment.png');">
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>